body.about {
	main {
		background-position: center top;
		background-size: cover;
		section {
			.inner {
				.block {
					padding: 0 1em 3em 1em;
					&.image {
						position: relative;
						.text {
							width: 100%;
							position: absolute;
							left: 0;
							top: 3em;
							z-index: 100;
							cursor: default;
							color: $lightest;
							text-shadow: 0.125em 0.125em 0.5em rgba($dark,0.225);
						}
					}
					&.text {
						strong {
							font-family: $sansBold;
						}
						em {
							font-family: $sansItalic;
						}
					}
				}
				ul {
					width: calc(33.333% - .5em);
					float: left;
					margin: 0;
					padding: 0 .25em;
					list-style: none;
					li {
						padding-bottom: .5em;
						.label, .source {
							@include xSmallText();
							color: $medium;
							text-transform: uppercase;
						}
						&.event {
							.label {
								span:not(:last-child) {
									margin-right: .25em;	
								}
							}
						}
						a {
							text-decoration: none;
							border: 0;
							&:hover {
								color: $medium;
								.label, .source {
									opacity: .5;
								}
							}
						}
					}
				}
			}
		}
	}
}