body.about {
	main {
		background-position: center top;
		background-size: cover;
		section {
			.inner {
				ul {
					width: calc(50% - .5em);
					float: left;
					margin: 0;
					padding: 0;
					list-style: none;
					&:first-child {
						padding-right: .5em;
					}
					&:last-child {
						padding-left: .5em;
					}
					li {
						padding-bottom: .5em;
						.label, .source {
							@include xSmallText();
							color: $medium;
							text-transform: uppercase;
						}
						a {
							text-decoration: none;
							border: 0;
							&:hover {
								color: $medium;
								.label, .source {
									opacity: .5;
								}
							}
						}
					}
				}
			}
		}
	}
}