body.aid {
	header {

	}
	main {	
		section {
			.details {
				.text {
					@include xSmallText;
				}
				.subgroup {
					padding-bottom: .5em;
					&:last-child {
						padding: 0;
					}
					.subtitle {
						color: $medium;
						text-transform: uppercase;
						pointer-events: none;
						&::after {
							content: ': ';
						}
					}
					p {
						display: inline;
					}
				}
			}
			.wrap.item {
				&.collected {
					.title {
						&::after {
							width: 1.2em;
							height: 1em;
					    margin-bottom: -.1em;
							display: inline-block;
							background-image: url(../images/check.svg);
							background-position: right bottom;
							background-repeat: no-repeat;
					    background-size: contain;
							content: '';
						}
					}
				}
			}
		}
	}
	@include phone {
		main {
			section {
				.details .text {
					padding: 0;
				}
			}
		}
	}
}