@font-face {
	font-family: 'Reglo';
	src: url('./../fonts/reglo/reglo-bold.eot');
	src: url('./../fonts/reglo/reglo-bold.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/reglo/reglo-bold.woff') format('woff'),
		url('./../fonts/reglo/reglo-bold.ttf') format('truetype'),
		url('./../fonts/reglo/reglo-bold.svg#reglo-bold') format('svg');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Chivo';
	src: url('./../fonts/chivo/chivo-regular.eot');
	src: url('./../fonts/chivo/chivo-regular.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/chivo/chivo-regular.woff') format('woff'),
		url('./../fonts/chivo/chivo-regular.ttf') format('truetype'),
		url('./../fonts/chivo/chivo-regular.svg#chivo-regular') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Chivo Italic';
	src: url('./../fonts/chivo/chivo-italic.eot');
	src: url('./../fonts/chivo/chivo-italic.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/chivo/chivo-italic.woff') format('woff'),
		url('./../fonts/chivo/chivo-italic.ttf') format('truetype'),
		url('./../fonts/chivo/chivo-italic.svg#chivo-italic') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Chivo Black';
	src: url('./../fonts/chivo/chivo-black.eot');
	src: url('./../fonts/chivo/chivo-black.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/chivo/chivo-black.woff') format('woff'),
		url('./../fonts/chivo/chivo-black.ttf') format('truetype'),
		url('./../fonts/chivo/chivo-black.svg#chivo-black') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Chivo Black Italic';
	src: url('./../fonts/chivo/chivo-black-italic.eot');
	src: url('./../fonts/chivo/chivo-black-italic.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/chivo/chivo-black-italic.woff') format('woff'),
		url('./../fonts/chivo/chivo-black-italic.ttf') format('truetype'),
		url('./../fonts/chivo/chivo-black-italic.svg#chivo-black-italic') format('svg');
	font-weight: 300;
	font-style: normal;
}