@font-face {
	font-family: 'Reglo';
	src: url('./../fonts/reglo/Reglo-Bold.eot');
	src: url('./../fonts/reglo/Reglo-Bold.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/reglo/Reglo-Bold.woff') format('woff'),
		url('./../fonts/reglo/Reglo-Bold.ttf') format('truetype'),
		url('./../fonts/reglo/Reglo-Bold.svg#Reglo-Bold') format('svg');
	font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Chivo';
	src: url('./../fonts/chivo/Chivo-Regular.eot');
	src: url('./../fonts/chivo/Chivo-Regular.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/chivo/Chivo-Regular.woff') format('woff'),
		url('./../fonts/chivo/Chivo-Regular.ttf') format('truetype'),
		url('./../fonts/chivo/Chivo-Regular.svg#Chivo-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Chivo Bold';
	src: url('./../fonts/chivo/Chivo-Bold.eot');
	src: url('./../fonts/chivo/Chivo-Bold.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/chivo/Chivo-Bold.woff') format('woff'),
		url('./../fonts/chivo/Chivo-Bold.ttf') format('truetype'),
		url('./../fonts/chivo/Chivo-Bold.svg#Chivo-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Chivo Bold Italic';
	src: url('./../fonts/chivo/Chivo-BoldItalic.eot');
	src: url('./../fonts/chivo/Chivo-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/chivo/Chivo-BoldItalic.woff') format('woff'),
		url('./../fonts/chivo/Chivo-BoldItalic.ttf') format('truetype'),
		url('./../fonts/chivo/Chivo-BoldItalic.svg#Chivo-BoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Chivo Italic';
	src: url('./../fonts/chivo/Chivo-Italic.eot');
	src: url('./../fonts/chivo/Chivo-Italic.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/chivo/Chivo-Italic.woff') format('woff'),
		url('./../fonts/chivo/Chivo-Italic.ttf') format('truetype'),
		url('./../fonts/chivo/Chivo-Italic.svg#Chivo-Italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Chivo Black';
	src: url('./../fonts/chivo/Chivo-Black.eot');
	src: url('./../fonts/chivo/Chivo-Black.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/chivo/Chivo-Black.woff') format('woff'),
		url('./../fonts/chivo/Chivo-Black.ttf') format('truetype'),
		url('./../fonts/chivo/Chivo-Black.svg#ChivoBlack') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Chivo Black Italic';
	src: url('./../fonts/chivo/Chivo-BlackItalic.eot');
	src: url('./../fonts/chivo/Chivo-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/chivo/Chivo-BlackItalic.woff') format('woff'),
		url('./../fonts/chivo/Chivo-BlackItalic.ttf') format('truetype'),
		url('./../fonts/chivo/Chivo-BlackItalic.svg#Chivo-BlackItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}