footer {
	width: 100%;
	border-top: 1px solid $dark;
	background-color: $lighter;
	display: table;
	#collection {
		position: relative;
		border-top: none;
		border-bottom: 1px solid $dark;
		&.empty {
			display: none;
		}
		.item {
			border-bottom: 1px solid $dark;
			&.ui-sortable-helper {
				background: $lighter;
				border-top: 1px solid $dark;
			}
		}
	}
	.inner {
		width: 100%;
		padding: 2em;
		display: flex;
	}
	.group {
		max-width: 15em;
		padding-right: 2em;
		float: left;
		&.description {
			max-width: 30em;
		}
	}
	h4 {
		text-align: left;
		margin: 0;
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			@include xSmallText;
		}
	}
}
@include phone {
	footer {
		.inner {
			padding: .75em;
			display: table;
			.group {
				padding-right: 0;
				padding-bottom: .75em;
			}
		}
	}


}