.grid {
	display: table;
  margin: auto;
  transition: all 200ms ease-in;
	.item {
		width: $itemWidth;
		margin-bottom: $gutterWidth;
		cursor: pointer;
		transition: transform 50ms ease-in;
		&:hover, &.looking {
			cursor: pointer;
			transform: scale(1.01);
		}
	}
	.item.text {
		// display: none;
		width: calc(8.5px * 23.6);
		height: calc(11px * 25);
		font-size: 0.5em;
		line-height: 1.3em;
		background-image: url(/assets/images/letter.svg);
		background-repeat: no-repeat;
		background-size: contain;
		.text {
			padding: 60px 20px 20px 20px;
		}
	}
	.sizer {
  	width: $itemWidth;
  }
  .gutter {
  	width: $gutterWidth;
  }

	.item.image {
		img {
			max-width: 100%;
		}
	}

	.item.quote {

	}
}