section.rows {
	width: 100%;
	.rowrap {
		width: 100%;
		display: table;
		padding: 2em 0;
		.row {
			width: 100%;
			display: table;
			margin: 0 auto;
			z-index: 2;
			overflow: hidden;
			.wrap {
				color: black;
				display: flex;
				align-items: center;
				position: relative;
				transition: color 100ms $fadeEase;
				.title {
					width: 50%;
					z-index: 10;
					text-decoration: none;
					a {
						display: table;
					}
					h1 {
						text-decoration: underline;
					}
				}
				.date {
					margin: .5em 0 0 0;
					@include xSmallText;
				}
				.image {
					width: 50%;
					max-width: none;
					opacity: .6;
					.img {
						display: table;
				    img {
				    	width: 100%;
				    	display: table;
				    	filter: grayscale(1);
				    }
					}
				}
			}
			&.odd {
				.wrap {
					flex-direction: row-reverse;
				}
				.title {
					float: left;
					* {
						text-align: left;
					}
				}
				.image {
					float: left;
					.img {
						float: right;
					}
				}
			}
			&.even {
				.wrap {
					flex-direction: row;
				}
				.title {
					float: right;
					* {
						text-align: right;
					}
				}
				.image {
					float: right;
				}
			}
			&.no-thumb {
				.wrap {
					width: 80%;
					margin: auto;
					.title {
						transform: none;
						left: 0;
						width: 100%;
					}
				}
			}
			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}
	&#stories {
		.story {
			max-width: $desktopWidth;
			margin-bottom: 8em;
			.wrap {
				width: 150%;
				.image {
					transition: background-color 50ms $fadeEase;
					.img {
						background-color: $lightest;
				    transition: background-color 100ms $fadeEase;
						img {
							mix-blend-mode: screen;
						}
					}
				}
			}
			&:last-of-type {
				margin-bottom: 0;
			}
			&:not(.hover) {
				.title {
					color: $dark !important;
				}
				.date {
					color: $dark !important;
				}
				.image {
					.img {
						background-color: $dark !important;
					}
				}
			}
			&.odd {
				.title {
					transform: translateX(7%);
				}
				.image {
					transform: translateX(-75%);
				}
			}
			&.even {
				.title {
					transform: translateX(-75%);
				}
				.image {
					transform: translateX(7%);
				}
			}
		}
	}
	&#field-notes {
		.field-note {
			max-width: $laptopWidth;
			margin-bottom: 4em;
			.wrap {
				width: 100%;
				color: $dark;
				.title {
					width: 50%;
					a {
						text-decoration: none;
						overflow: visible;
					}
					h2 {
						text-decoration: none;
						margin: 0;
						@include xLargeText;
						@include laptop {
							@include largeText;
						}
					}
					h3 {
						width: 100%;
						overflow: visible;
					}
				}
				.image {
					width: 50%;
					opacity: 1;
					a {
						width: 100%;
					}				
					.img {
						width: 100%;
						img {
							filter: grayscale(0);
							transition: filter 100ms $fadeEase;
						}
					}
				}
			}
			&.hover .wrap {
				.title {
					color: $medium !important;
				}
				.image {
					opacity: 1 !important;
					img {
						filter: grayscale(1) !important;
					}
				}
			}
			&.odd {
				.wrap {
					.title {
						a {
							padding: 0 1em 0 2em;
							float: right;
						}
						h2, h3, .date {
							text-align: right;
						}
					}
					.image {
						a {
							padding: 0 2em 0 1em;
						}
					}
				}
			}
			&.even {
				.wrap {
					.title {
						a {
							padding: 0 2em 0 1em;
							float: left;
						}
						h2, h3, .date {
							text-align: left;
						}
					}
					.image {
						a {
							padding: 0 1em 0 2em;
						}
					}
				}
			}
		}
	}
	.more {
		display: table;
    margin: 1em auto 0 auto;
    cursor: default;
    color: $light;
	}
}
@include phone {
	.rows {
		&.story {
			margin-bottom: 5em;
		}
		&.field-note {

		}
		.row {

		}
	}
}