.single {
	width: calc(100% + 1px);
	height: calc(100% - #{$smallItem} - #{$headerHeight});
	position: fixed;
	left: 0;
	top: $headerHeight;
	z-index: 40;
	display: flex;
	transform: translateX(-100%);
	transition: transform 350ms $slideBackEase;
	background-color: $lightest;
	border-right: 1px solid black;
	box-shadow: 40px 0px 50px -60px black;
	&.open {
		transition: transform 500ms $slideEase;
		transform: translateX(0);
	}
	&.swap {
		transition: transform 0ms;
		transform: translateX(-100%);	
	}
	&.loaded {
		.inner {
			opacity: 1;
		}
	}
	.arrow {
		width: 1.5em;
		height: 1.5em;
		top: calc(50% - .75em);
		position: absolute;
		background-size: 1.25em;
		background-position: center;
		background-repeat: no-repeat;
		z-index: 400;
		opacity: .25;
		transition: opacity 100ms $fadeEase;
		&:hover {
			opacity: 1;
			cursor: pointer;
		}
		&.prev {
			left: 0;
			background-image: url(../images/prev.svg);
		}
		&.next {
			right: 0;
			background-image: url(../images/next.svg);
		}
	}
	.button {
		width: 1.5em;
		height: 1.5em;
		position: absolute;
		top: .25em;
		z-index: 100;
		background-size: 1.5em;
		background-repeat: no-repeat;
		opacity: .5;
		transition: opacity 100ms $fadeEase;
		&.close-single {
			background-image: url(../images/x.svg);
			background-position: center;
			right: .25em;
		}
		&.collect {
			right: 1.75em;
			.pseudo {
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background-image: url(../images/check.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 1.5em;
				transition: opacity 100ms $fadeEase;
			}
			.tooltip {
				height: 1.5em;
				position: absolute;
				right: 1.5em;
				top: 0;
				padding-left: 1.5em;
				display: none;
				color: $medium;
				div {
					display: none;
					padding: .125em .5em;
					vertical-align: middle;
					white-space: nowrap;
					text-shadow: -1px -1px 0px rgba($lightest, 1), 1px -1px 0px rgba($lightest, 1), -1px 1px 0px rgba($lightest, 1), 1px 1px 0px rgba($lightest, 1);
				}
			}
			&:hover {
				.tooltip {
					display: table;
				}
			}
			&.add {
				.pseudo {
					opacity: .1;
				}
				&:hover .tooltip .add {
					display: table-cell;
				}
			}
			&.remove {
				&:hover .tooltip .remove {
					display: table-cell;
				}
			}
		}
		&:hover {
			cursor: pointer;
			opacity: 1;
		}
	}
	section {
		width: 100%;
		height: 100%;
		min-height: auto;
		position: relative;
		min-width: 10em;
		overflow-y: hidden;
		overflow-x: visible;
		transition: opacity 500ms $fadeEase;
		.scroll {
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			-webkit-overflow-scrolling: touch;
		}
		.inner {
			height: 100%;
			padding: 3em 1.5em 6em 1.5em;
			display: table;
			margin: auto;
			transition: opacity 500ms $fadeEase;
			.text {
				@include smallText;
				display: block;
			}
			.title {
				font-family: $sansBlack;
				// @include xSmallText;
				@include smallText;
			}
			.meta {
				font-family: $sansItalic;
				@include xSmallText;
				color: $medium;
				clear: both;
				display: table;
				margin-top: .25em;
				.cell {
					float: left;
	  			padding-right: 1em;
				}
			}
		}
	}
	&.stack {
		section {
			width: 100%;
			.inner {
				
			}
		}
	}
	&.folder {
		.sections {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
		section {
			&.left {
				width: calc(50% + 6px);
				padding-right: 6px;
				.handle {
					height: 100%;
					position: absolute;
					right: 0;
					top: 0;
					padding: 0 6px;
					margin-left: -6px;
					z-index: 100;
					.line {
						width: 10px;
						height: 100%;
						border: solid black;
						border-width: 0 1px;
					}
					&:hover {
						cursor: col-resize;
					}
				}
			}
			&.right {
				width: calc(50% - 6px);
				.inner {
					width: 100%;
					max-width: $laptopWidth;
					display: table;
					margin: auto;
					.intro {
						padding: 1em;
					}
				}
			}
		}
	}
	&.object {
		section {
			.inner {
				.block {
					margin-bottom: 0;
					&.image {
						img {
							width: 100%;
						}
					}
					&.video {
						width: calc(100vw - 3em);
					}
				}
			}
		}
	}
	&.quote {
		section {
			.inner {
				.block {
					color: $dark;
					&.quote .text::before, &.quote .text::after {
						color: $dark !important;
					}
				}
			}
			&.small .inner {
				max-width: 500px;
				.text {
					@include mediumText();
				}
			}
			&.medium .inner {
				max-width: 800px;
				.text {
					@include largeText();
				}
			}
			&.large .inner {
				max-width: 1000px;
				.text {
					@include xLargeText();
				}
			}
		}
	}
}
main .block {
	width: 100%;
	max-width: $laptopWidth;
	display: table;
	margin: auto;
	// margin-bottom: 2em;
	line-height: 1.2em;
	padding: 0 0 3em 0;
	line-height: 1.3em;
	p {
		margin: 0;
		padding: 0 0 .5em 0;
		&:last-child {
			padding: 0;
		}
		b, strong {
			font-family: $sansBlack;
			font-weight: normal;
		}
		i, em {
			font-family: $sansItalic;
			font-style: none;	
		}
	}
	a {
		color: black;
		text-decoration: none;
		border-bottom: 1px solid;
		transition: all 100ms $fadeEase;
	}
	.text {
		@include mediumText();
	}
	&.small {max-width: 500px;}
	&.medium {max-width: 800px;}
	&.large {max-width: 1440px;}
	&.header {
		padding-bottom: 1em;
		.title {
			font-family: $title;
			@include largeText;
			padding: 0;
		}
	}
	&.text {
		iframe, object, embed {
			width: 100%;
			height: 100%;
		}
	}
	&.image, &.video {
		.text-wrap {
			max-width: $maxWidth;
			display: table;
			margin: .5em 0 0 0;
		}
		.caption {
			@include smallText;
			clear: both;
			margin-top: .25em;
		}
		.attribution {
			@include xSmallText;
			font-family: $sans;
			color: $medium;
			margin-top: .15em;
			* {
				color: $medium !important;
			}
		}
	}
	&.image {
		img {
			max-width: 100%;
			display: table;
			margin: auto;
		}
		&:not(.noZoom) {
			img {
				&:hover {
					cursor: zoom-in;
				}
			}
		}
	}
	&.video {
		.videoWrap {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		&.noCursor {
			pointer-events: none;
		}
	}
	&.quote {
		width: auto !important;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		font-family: $sans;
		display: table;
		.text {
			position: relative;
			color: rgba($dark, 0.8);
			mix-blend-mode: darken;
			p {
				width: 100%;
				padding: 0 2em .5em 2em;
				display: inline-block;
				&::before, &::after {
					width: auto;
					display: inline;
					position: absolute;
					font-family: $sansBlackItalic;
					font-size: 4em;
					line-height: .5em;
					opacity: .2;
				}
				&:first-child {
					&::before {
						content: '“';
						left: -.1em;
						top: 0;
					}
				}
				&:last-child {
					&::after {
						content: '”';
						right: .05em;
						bottom: 0;
					}
				}
			}
		}
		.attribution {
			font-family: $sansBlack;
			padding-top: 1em;
		}
		&.left {
			display: block;
			float: left;
		}
		&.right {
			display: block;
			float: right;
		}
		&.small {
			width: 35% !important;
		}
		&.medium {
			width: 60% !important;
		}
		&.large {
			width: 100% !important;
			max-width: 1000px;
		}
		&.smallText .text {
			@include smallText();
		}
		&.mediumText .text {
			@include mediumText();
		}
		&.largeText {
			.text {
				font-family: $sansBlack;
				@include largeText();
			}
		}
	}
	&:last-child {
		padding-bottom: 0;
	}
}
#frame {
	width: 100%;
	height: calc(100% - #{$headerHeight*2});
	position: fixed;
	left: 0;
	top: #{$headerHeight};
	background: $lightest;
	z-index: 200;
	@include baseText;
	opacity: 0;
	transition: opacity 300ms $fadeEase;
	#frame-inner {
		width: 100%;
		height: 100%;
		background: $lightest;
		img {
			opacity: 1 !important;
		}
	}
	&.show {
		opacity: 1;
	}
	.loader {
		z-index: 1000;
		background: $lightest;
	}
	&.loaded .loader {
		opacity: 0;
		pointer-events: none;
	}
	img.preload {
		display: none;
	}
	.close-frame, .leaflet-bar a {
		width: 1.5em;
		height: 1.5em;
		background-size: 1em;
		background-position: center;
		background-repeat: no-repeat;
		display: block;
		&:hover {
			cursor: pointer;
			opacity: .5;
		}
	}
	.close-frame {
		position: absolute;
		right: 0;
		top: 0;
		background-image: url(../images/x.svg);
		z-index: 1000;
	}
	.buttons {
		height: 100%;
		position: absolute;
		right: .25em;
		top: .25em;
		z-index: 1000;
		.button {
			float: left;
		}
	}
	.button {
		width: 1.5em;
		height: 1.5em;
		@include baseText;
		background-size: 1.5em;
		background-position: center;
		background-repeat: no-repeat;
		&:hover {
			cursor: pointer;
			opacity: .5;
		}
		&.in {
			background-position: center top;
			background-image: url(../images/math.svg);
		}
		&.out {
			background-position: center bottom;
			background-image: url(../images/math.svg);
		}
		&.close {
			background-image: url(../images/x.svg);
		}
	}
	.leaflet-left {
		display: none;
	}
	.leaflet-top.leaflet-right {
		position: absolute;
    right: 0em;
    top: 1.5em;
    margin: 0;
    padding: 0;
    z-index: 1000;
    .leaflet-bar {
    	padding: 0;
    	margin: 0;
    	border: 0;
    }
	}
}
#frame-bar {
	width: 100%;
	height: $headerHeight;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 999999;
	opacity: 0;
	background-color: $lighter;
	border-top: 1px solid $dark;
	transition: opacity 300ms $fadeEase, height 150ms $slideBackEase;
	overflow: hidden;
	&.show {
		opacity: 1;
	}
	.text-wrap {
		width: calc(100% - 7em);
		padding-left: 1em;
		padding-bottom: 1em;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.title {
			height: $headerHeight;
			padding-right: 1em;
	    float: left;
	    white-space: nowrap;
	    display: flex;
			align-items: center;
			flex-wrap: wrap;
	    span {
	    	font-family: $sansBlack;
				@include xSmallText;
	    }
		}
		.meta {
			height: $headerHeight;
			float: left;
			white-space: nowrap;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.cell {
				font-family: $sansItalic;
				@include xSmallText;
				color: $medium;
				padding-right: 1em;
				float: left;
				white-space: nowrap;
			}
		}
		.caption {
			display: block;
		}
		.expand {
			background-image: url(../images/up.svg);
			position: absolute;
			right: 0;
			top: 0;
			background-color: $lighter;
			box-shadow: -5px 0 20px 10px $lighter;
		}
	}
	&.toggled {
		transition: opacity 300ms $fadeEase, height 150ms $slideEase;
		.title, .meta, .caption {
			height: auto;
			white-space: pre-line;
			padding-top: .5em
		}
		.expand {
			background-image: url(../images/down.svg) !important;
		}
	}
	&.noCaption {
		.expand {
			display: none !important;
		}
	}
}
@include phone {
	.single {
		height: calc(100% - #{$headerHeight});
		top: $headerHeight;
		&.folder {
			.handle {
				display: none !important;
			}
			.sections {
				overflow-y: auto;
				section {
					width: 100% !important;
					height: auto !important;
					padding: 0 !important;
					&:first-child {
						.inner {
							padding-bottom: 0;
						}
					}
				}
			}
			// .sections {
			// 	width: 200vw;
			// 	height: 100%;
			// 	position: absolute;
			// 	left: 0;
			// 	top: 0;
			// 	transition: transform 300ms $slideEase;
			// 	section {
			// 		width: 50% !important;
			// 		min-width: auto;
			// 		.inner {
			// 			max-width: 100% !important;
			// 			margin-left: 0 !important;
			// 			margin-right: 0 !important;
			// 		}
			// 		&.right .inner {
			// 			width: calc(100% - 1em + 6px);
			// 		}
			// 	}
			// }
			// &.open.left .sections {
			// 	transform: translateX(0);
			// 	.right .inner {
			// 		opacity: 0;
			// 	}
			// }
			// &.open.right .sections {
			// 	transform: translateX(calc(-50% + 10px));	
			// 	.left .inner {
			// 		opacity: 0;
			// 	}
			// }
		}
	}
}