#single {
	width: calc(100% + 1px);
	height: calc(100% - #{$smallItem} - #{$headerHeight});
	position: fixed;
	left: 0;
	top: $headerHeight;
	z-index: 40;
	display: none;
	// opacity: 0;
	transform: translateX(-100%);
	transition: transform 500ms $slideBackEase;
	background-color: $lightest;
	border-right: 1px solid black;
	box-shadow: 40px 0px 50px -60px black;
	&.open {
		display: flex;
	}
	&.show {
		transition: transform 800ms $slideEase;
		transform: translateX(0);
	}
	&.loaded {
		.inner {
			opacity: 1;
		}
	}
	section {
		height: 100%;
		min-height: auto;
		position: relative;
		min-width: 10em;
		overflow: hidden;
		transition: opacity 500ms $fadeEase;
		.closeSingle {
			width: 1.5em;
			height: 1.5em;
			position: absolute;
			right: 0;
			top: 0;
			background-size: 1em;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url(../images/x.svg);
			&:hover {
				cursor: pointer;
				opacity: .5;
			}
		}
		.scroll {
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
		}
		.inner {
			opacity: 0;
			transition: opacity 500ms $fadeEase;
			.text {
				@include smallText;
			}
			.caption {
				@include xSmallText;	
			}
			.textWrap {
				padding: .5em 1em;
				line-height: 1.3em;
				p {
					margin: .5em 0;
				}
				a {
					color: black;
					text-decoration: none;
					border-bottom: 1px solid;
				}
			}
			.meta {
				// padding: 1em 0;
				font-family: $monoItal;
			}
		}
	}
	&.paper {
		section {
			width: 100%;
			.inner {
				.blocks {
					padding-top: 1em;
					.block {
						width: 100%;
						display: table;
						margin: auto;
						margin-bottom: 2em;
						&.small {max-width: 500px;}
						&.medium {max-width: 800px;}
						&.large {max-width: 1440px;}
						.text {
							@include mediumText();
						}
						&.image {
							img {
								max-width: 100%;
								display: table;
								margin: auto;
							}
						}
						&.quote {
							width: 100%;
							font-family: $monoBoldItal;
							color: $medium;
							&.small {@include mediumText();}
							&.medium {@include largeText();}
							&.large {
								max-width: 1000px;
								@include xLargeText();
							}
						}
					}
				}
			}
		}
	}
	&.folder {
		section {
			width: 50%;
			&#left {
				.ui-resizable-handle {
					height: 100%;
					position: absolute;
					right: -6px;
					top: 0;
					padding: 0 6px;
					z-index: 100;
					.line {
						width: 4px;
						height: 100%;
						border: solid black;
						border-width: 0 1px;
					}
					&:hover {
						cursor: col-resize;
					}
				}
			}
			&#right {
				.inner {
					max-width: 800px;
					display: table;
					margin: auto;
					.intro {
						padding: 1em;
					}
				}
			}
		}
	}
	&.object {
		section {
			width: 100%;
			.inner {
				max-width: 800px;
				height: 100%;
				padding: $gutter;
				display: table;
				margin: auto;
				img {
					width: 100%;
				}
			}
		}
	}
	&.quote {
		section {
			width: 100%;
			.inner {
				max-width: 800px;
				height: 100%;
				padding: $gutter;
				font-family: $monoBoldItal;
				display: table;
				margin: auto;
				.text {
					position: relative;
					&::before, &::after {
						width: 1em;
						display: inline;
						position: absolute;
						@include xLargeText;
						line-height: .5em;
						color: $medium;
					}
					&::before {
						content: '“';
						left: 0;
						top: 0;
					}
					&::after {
						content: '”';
					}
					p {
						display: inline;	
						&:first-child {
							margin-left: 2.5em;
						}
					}
				}
				.attribution {
					font-family: $monoMed;
					padding-top: $gutter;
				}
			}
			&.small .inner {
				max-width: 500px;
				.text {
					@include mediumText();
				}
			}
			&.medium .inner {
				max-width: 800px;
				.text {
					@include largeText();
				}
			}
			&.large .inner {
				max-width: 1000px;
				.text {
					@include xLargeText();
				}
			}
		}
	}
	.items {
		.itemsWrap {
			padding: .5em 1em;
			.item {
				padding: .5em 0;
				transition: opacity 500ms $fadeEase;
				&.image {
					opacity: 0;	
					&.loaded {
						opacity: 1;
					}
				}
				.itemWrap {
					img {
						max-width: 100%;
						// max-height: calc(100vh - #{$headerHeight} - #{$smallItem});
						display: table;
						margin: auto;
						vertical-align: middle;
					}
					.caption {
						margin: .5em 0 0 0;
					}
					margin-bottom: 1em;
				}
				&.readable {
					width: 100%;
					img {
						width: auto;
						max-width: 100%;
						max-height: 100%;
					}
				}
			}
		}
	}
	@include phone {
		height: calc(100% - #{$headerHeight*2});
		top: $headerHeight*2;
		&.folder {
			width: calc(200% - #{$gutter*2});
			section {
				width: 50% !important;
				min-width: auto;
				transition: transform 300ms $slideEase;
			}
			&.left {
				transform: translateX(0);
				#right .inner {
					opacity: 0;
				}
			}
			&.right {
				transform: translateX(calc(-50% + #{$gutter} + 1px));	
				#left .inner {
					opacity: 0;
				}
			}
		}
	}
}