body.story {	
	main {
		width: 100%;
		height: calc(100% - #{$headerHeight} - #{$smallItem} - 1px);
		position: relative;
		overflow-x: scroll;
		transition: opacity 500ms $fadeEase, color 500ms $fadeEase, background-color 500ms $fadeEase, border-color 500ms $fadeEase;
		&.hide {
	  	opacity: 0;
	  	pointer-events: none;
	  }
	  .left {
	  	float: left;
	  }
	  #table {
	  	height: 100%;
	  	width: 100%;
	  	position: absolute;
	  	left: 0;
	  	top: 0;
	  	z-index: 30;
	    display: flex;
	    flex-direction: row;
	    overflow-x: scroll;
	    overflow-y: hidden;
	  }
		.spacer {
			&.full {
				width: 100%;
				height: 100%;
				display: table;
			}
		}
		.title {
			width: 100%;
	  	height: 100%;
	  	background: $lightest;
	  	display: table;
	  	float: left;
	  	.horz {
	  		height: 100%;
	  		padding: 0 5em;
	  	}
	  	h1 {
	  		max-width: 1000px;
	  		text-align: left;
	  		margin: auto;
	  		padding: 0;
	  		text-decoration: underline;
	  	}
	  	.text {
	  		max-width: 800px;
	  		display: none;
	  		// margin: auto;
	  		font-weight: normal;
	  	}
		}
		#map {
	  	height: 100%;
	  	display: block;
	  	float: left;
	  	padding: 0 calc(#{$gutter} * 4);
	  	background-color: $lightest;
  		img {
  			height: 100%;
  			mix-blend-mode: multiply;
  		}
		}
		.chapter {
			float: left;
		}
		.grid {
			height: calc(100% - #{$gutter});
			margin: $gutter 0 0 0;
			display: table;
			float: left;
			opacity: 0;
			transition: opacity 500ms $fadeEase;
			&.loaded {
				opacity: 1;
			}
		  .item {
		  	display: block;
		  	margin: 0 $gutter 0 0;
		  	float: left;
				&.folder, &.object {
					.inner {
						height: 100%;
						.image {
							height: 100%;
							img {
								// display: none;
								max-height: 100%;
								display: table;
								margin: 0;
							}
						}
			  	}
					&.large {
						// height: $largeItem;
						// .image {
						// 	img {
						// 		// max-height: $largeItem;
						// 	}
						// }
					}
				}
				&.paper {
					width: 300px;
			  	display: table;
					.inner {
						display: table-cell;
						vertical-align: middle;
						@include smallText;
					}
				}
				&:hover {
					cursor: pointer;
				}
			}
			&:after {
			  content: '';
			  display: block;
			  clear: both;
			}
			.sizer {
				width: 100%;
		  	height: $medItem;
		  	display: table;
		  }
		  .gutter {
		  	width: $gutter;
		  }
		}
	}
	&.looking {
		#collection {
			z-index: 50;
		}
		header {
			// height: #{$headerHeight*2};
			// .tools {
			// 	opacity: 1;
			// 	pointer-events: all;
			// }
		}
	}
	.grid .item, .item.ui-draggable-dragging, .item.ui-sortable-helper, #collection .item {
		font-family: 'Simplon BP Mono';
		transition: color 300ms $ease;
		img {
			display: table;
	    filter: grayscale(100%);
	    transition: filter 300ms $ease;
		}
		&:not(.looking):not(.selected) {
			color: $dark !important;
			.image.bw {
				background-color: $dark !important;
			}
		}
		&.looking, &.selected {
			.image:not(.bw) {
				img {
			    filter: grayscale(0%) !important;
				}
			}
		}
		.image.bw {
	    transition: background-color 500ms $ease;
	    img {
		    mix-blend-mode: lighten;
		  }
		}
		&.ui-draggable-dragging, &.ui-sortable-helper {
			max-width: 300px;
			height: calc(#{$smallItem} + 1px) !important;
			position: fixed;
			display: flex;
			z-index: 60;
			margin: 0;
			background: $lightest;
			border: solid black;
			border-width: 1px;
			transform: translateY(1px);
			&.paper {
				// height: calc(#{$smallItem} - 2px) !important;
				transform: translateY(4px);
			}
			.inner {
				height: 100%;
				padding: .5em;
				display: flex;
		    align-items: center;
  			overflow: hidden;
				@include xSmallText;
				.image {
					height: 100%;
			    display: block;
					img {
						height: 100% !important;
						vertical-align: middle;
					}
				}
			}
			&.paper {
				.inner {
					align-items: flex-start;
					position: relative;
					&:after {
						width: 100%;
						height: 100%;
				    position: absolute;
				    left: 0;
				    bottom: 0;
				    content: '';
				    box-shadow: inset $lightest 0 -20px 25px;
				  }
				}
			}
			&.over {
				background-color: $lightest;
				border-color: rgba($medium, .5);
			}
		}
	}
	@include phone {
		main {
			height: calc(100% - #{$headerHeight*2});
			#title {
				.horz {
					padding: 0;
					h1 {
						text-align: center;
					}
				}
			}
			#map {
				height: auto;
				padding: 0;
				img {
					width: 100%;
					height: auto;
				}
			}
			#table {
				display: block;
				overflow-x: hidden;
				overflow-y: scroll;
				padding: 0 1em;
				.grid {
					width: 100%;
					.item {
						width: 100%;
						margin-right: 0;
						.image {
							background-color: transparent !important;
							img {
								max-width: 100%;
								height: auto !important;
							}
						}
						margin-bottom: $gutter;
					}
					.sizer {
						display: none;
					}
				}
			}
		}
	}
}