@import 'fonts';
@import 'vars';
@import 'mixins';
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: $sans;
	font-weight: normal;
	color: black;
	@include baseText;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position:relative;
  content: 'desktop';
  * {
		box-sizing: border-box;
   	backface-visibility: hidden;
  }
}
html {
	background-color: $lighter;
}
body {
	overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden;
	// transition: opacity 300ms $fadeEase;
	background-color: $lightest;
	&.loaded {
		opacity: 1;
	}
}
h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
}
h1 {
	font-family: $title;
	@include xxLargeText;
	@include laptop {
		@include xLargeText;
	}
	@include phone {
		@include largeText;
	}
}
h2 {
	font-family: $title;
	@include largeText;
	@include laptop {
		@include mediumText;
	}
}
h4 {
	font-family: $sans;
	@include smallText;
	text-align: center;
	padding: 0;
	display: table;
	margin: auto;
}
a {
	color: black;
	transition: opacity 100ms $fadeEase, color 100ms $fadeEase;
}
ul {
	padding-left: 1.2em;
	margin: 0;
}
.horz {
	display: table;
	margin: auto;
}
.vert {
	display: table-cell;
	vertical-align: middle;
}
.center {
	width: 100%;
	max-width: $maxWidth;
	display: table;
	margin: auto;
	padding: 0 2em;
}
p {
	margin: 0 0 1em 0;
	&:last-child {
		margin: 0;
	}
}
header {
	width: 100%;
	height: $headerHeight;
	color: black;
	background-color: $lighter;
	display: flex;
	z-index: 2000;
	position: fixed;
	left: 0;
	top: 0;
	a {
		color: black;
		text-decoration: none;
		background-color: $lighter;
		&:hover {
			opacity: .5;
		}
	}
	.inner {
		width: 100%;
		position: relative;
		font-family: $title;
		font-weight: normal;
		text-transform: uppercase;
	}
	.row {
		width: 100%;
		height: $headerHeight;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 20;
		border-bottom: 1px solid $dark;
		display: flex;
		align-items: center;
		overflow: hidden;
		.trail {
			width: auto;
	    height: 100%;
			position: absolute;
	    left: 0;
	    top: 0;
	    display: flex;
	    flex-wrap: nowrap;
	    flex-direction: row-reverse;
	    align-items: center;
		}	
	}
	.trail {
		a {
			@include smallText;
		}
	}
	.title {
		display: none;
		transition: transform 1200ms $slideEase;
		float: right;
		position: relative;
		transform: translateX(-100vw);
		background: $lighter;
		padding: .1em 0 .1em 1.5em;
		box-shadow: 5px 0 10px 5px $lighter;
		a {
			padding-top: .15em;
			padding-left: .4em;
			display: table;
			white-space: nowrap;
		}
		&.ready {
			display: inline-block;
		}
		&.swap {
			transform: translateX(-100vw);
		}
		&.show {
			transition: transform 800ms $slideEase;
			transform: translateX(0);
		}
		&:not(:last-child) {
			background-size: 1em;
			background-position: .4em .25em;
			background-repeat: no-repeat;
			background-image: url(../images/next.svg);
		}
		&:last-child {
			padding-left: .5em;
			a {
				padding-left: 0;
			}
		}
	}
	.links {
		height: 100%;
		padding: 0 .5em 0 1em;
		position: absolute;
		background-color: $lighter;
		right: 0;
		top: 0;
		z-index: 2;
    display: flex;
    align-items: center;
    box-shadow: -5px 0 20px 10px $lighter;
		a {
			@include smallText;
			margin: .15em .5em 0 0;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.open-links {
		width: 2em;
		height: 2em;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;
		background-size: 1em;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(../images/up.svg);
		background-image: url(../images/down.svg);
		display: none;
	}
}
main {
	background-color: $lightest;
	margin-top: $headerHeight;
}
.data {
	display: none;
}
.dash {
	width: 3em;
	height: .5em;
	display: table;
	margin: 2em auto;
	background-color: black;
}
.dashed {
	svg {
		width: 100%;
		height: .5em;
	}
}
.loader {
	opacity: 0;
}
.has-loader {
	position: relative;
	.loader {
		width: 100%;
	  height: 100%;
		position: absolute;
		left: 0;
	  top: 0;
	  display: flex;
	  align-items: center;
	  background: $lighter;
	  opacity: 1;
	  transition: opacity 100ms $fadeEase;
	  @include baseText;
	  &::after {
	  	transition: opacity 100ms $fadeEase;
	  	width: 2em;
		  height: 2em;
		  display: block;
	  	content: '';
	  	border-radius: 50%;
		  margin: auto;
		  position: relative;
		  text-indent: -9999em;
		  border:  .25em solid transparent;
		  border-left-color: $medium;
		  transform: translateZ(0);
		  animation: load 1.1s infinite linear;
	  }
	  &.window {
	  	z-index: 40;
	  	background: rgba($lighter, .8);
	  }
	}
	img {
		opacity: 0;
		transition: opacity 100ms $fadeEase;
	}
	&.loaded {
		.loader {
			opacity: 0;
			pointer-events: none;
		}
		img {
			opacity: 1;
		}
	}
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@include tablet {
	body {
		content: 'tablet';
	}
}
@include phone {
	body {
		content: 'phone';
		&:after {
			font-size: 14px;
		}
	}
	header {
		@include baseText;
		.row {
			a {
				@include xSmallText();
			}
			display: flex;
			border-bottom: 0;
			border-bottom: 1px solid $dark;
			position: relative;
			overflow: visible;
			.title {
				box-shadow: none;
				&.item, &.story {
					display: none;
				}
			}
			.trail, .links {
				width: auto;
				display: flex;
				align-items: center;
				flex-direction: row;
				position: relative;
				box-shadow: none;
			}
			.trail {
				width: 100%;
			}
			.links {
				width: 100%;
				position: absolute;
				left: 0;
				top: $headerHeight;
				border-bottom: 1px solid $dark;
				padding-left: .5em;
				white-space: normal;
				display: none;
			}
		}
		.open-links {
			display: block;
		}
		&.toggled {
			.links {
				display: flex;
			}
			.open-links {
				background-image: url(../images/up.svg);
			}
		}
	}
}
@include tablet {
	html, body {
		@include baseText;
	}
}
@import 'home';
@import 'table';
@import 'collection';
@import 'single';
@import 'page';
@import 'about';
@import 'aid';
@import 'field-notes';
@import 'field-note';
@import 'rows';
@import 'list';
@import 'error';
@import 'footer';