@import 'fonts';
@import 'vars';
@import 'mixins';
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $lightest;
	font-family: $mono;
	font-weight: normal;
	color: black;
	@include baseText;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden;
  position:relative;
  content: 'desktop';
  * {
		box-sizing: border-box;
   	backface-visibility: hidden;
   	-webkit-overflow-scrolling: touch;
  }
}
h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
}
h1 {
	font-family: $sans;
	@include xxLargeText;
	@include phone {
		@include xLargeText;
	}
}
h2 {
	font-family: $sans;
	@include largeText;
}
h4 {
	font-family: $mono;
	@include smallText;
	text-align: center;
	padding: 0;
	display: table;
	margin: auto;
}
.horz {
	display: table;
	margin: auto;
}
.vert {
	display: table-cell;
	vertical-align: middle;
}
p {
	margin: 0 0 1em 0;
	&:last-child {
		margin: 0;
	}
}
header {
	width: 100%;
	height: $headerHeight;
	color: black;
	background-color: $lighter;
	display: flex;
	z-index: 20;
	a {
		color: black;
		text-decoration: none;
		transition: opacity 100ms $fadeEase;
		background-color: $lighter;
		&:hover {
			opacity: .5;
		}
	}
	.inner {
		width: 100%;
		position: relative;
		@include smallText;
		font-family: $sans;
		font-weight: normal;
		text-transform: uppercase;
	}
	.row {
		width: 100%;
		height: $headerHeight;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 20;
		border-bottom: 1px solid $dark;
		display: flex;
		align-items: center;
		background-color: $lighter;
		overflow: hidden;
		.trail {
			$lightest-space: nowrap;
		}	
	}
	.title {
		display: none;
		transition: transform 800ms $slideEase;
		float: right;
		position: relative;
		transform: translateX(-100vw);
		background: $lighter;
		padding: .1em 0 .1em 1.5em;
		box-shadow: 5px 0 10px 5px $lighter;
		a {
			
		}
		&.ready {
			display: inline-block;
		}
		&.show {
			transform: translateX(0);
		}
		&:not(:last-child) {
			background-size: .75em;
			background-position: .4em .2em;
			background-repeat: no-repeat;
			background-image: url(../images/right.svg);
		}
		&:last-child {
			padding-left: .5em;
		}
	}
	.links {
		height: 100%;
		padding-right: .5em;
		position: absolute;
		background-color: $lighter;
		right: 0;
		top: 0;
		z-index: 2;
    display: flex;
    align-items: center;
    box-shadow: -5px 0 20px 10px $lighter;
		a {
			margin: 0 .5em 0;
			// color: $light;
			&:last-child {
				margin: 0;
			}
		}
	}
	.closeSingle {
		padding-right: 1.5em;
		background-size: .75em;
		background-position: calc(100% - .2em) .08em;
		background-repeat: no-repeat;
		background-image: url(../images/x.svg);
	}
	&.fixed {
		left: 0;
		top: 0;
		position: fixed;
	}
}
.data {
	display: none;
}
.dash {
	width: 3em;
	height: .5em;
	display: table;
	margin: 2em auto;
	background-color: black;
}
.dashed {
	svg {
		width: 100%;
		height: .5em;
	}
}
@include tablet {
	body {
		content: 'tablet';
	}
}
@include phone {
	body {
		content: 'phone';
		&:after {
			font-size: 14px;
		}
	}
	header {
		height: $headerHeight*2;
		@include baseText;
		.inner {

		}
		.row {
			height: $headerHeight*2;
			display: block;
			border-bottom: 0;
			.title {
				box-shadow: none;
				&.item, &.story {
					display: none;
				}
			}
			.trail, .links {
				width: 100%;
				height: $headerHeight;
				display: flex;
				align-items: center;
				position: relative;
				border-bottom: 1px solid $dark;
				box-shadow: none;
			}
		}
	}
}

@import 'home';
@import 'story';
@import 'collection';
@import 'single';
@import 'about';
@import 'footer';