body.story, body.collection {
	overflow-y: hidden; 
	main {
		width: 100%;
		height: 100%;
		position: relative;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		transition: opacity 500ms $fadeEase, color 500ms $fadeEase, background-color 500ms $fadeEase, border-color 500ms $fadeEase;
		&.hide {
	  	opacity: 0;
	  	pointer-events: none;
	  }
	  .left {
	  	float: left;
	  }
	  #table {
	  	height: calc(100% - #{$smallItem} - #{$headerHeight} - 1px);
	  	width: 100%;
	  	position: absolute;
	  	left: 0;
	  	top: 0;
	  	z-index: 30;
	    display: flex;
	    flex-direction: row;
	    overflow-x: scroll;
	    overflow-y: hidden;
	  }
		.spacer {
			&.full {
				width: 100%;
				height: 100%;
				display: table;
			}
		}
		.card {
	  	height: 100%;
	  	background: $lightest;
	  	display: flex;
			align-items: center;
	  	float: left;
	  	overflow-y: scroll;
	  	h3 {
  			text-align: center;
  			display: table;
  			margin: 0 auto .5em auto;
  			text-decoration: underline;
  		}
  		.inner {
  			width: 100%;
  			max-width: $maxWidth;
	  		max-height: 100%;
	  		padding: 2em 0;
				display: table;
				margin: auto;
  		}
	  	.horz {
	  		max-width: $maxWidth;
	  		height: 100%;
	  		padding: 0 5em;
				display: table;
				margin: auto;
	  	}
	  	b, strong {
				font-family: $sansBlack;
				font-weight: normal;
			}
			&.full {
	  		min-width: 100vw;
	  		.inner {
	  			padding-left: 5em;
	  			padding-right: 5em;
	  		}
	  	}
	  	&.half {
	  		min-width: 50vw;
	  		max-width: 50vw;
	  		.inner {
	  			width: calc(100% - 2em);
	  			padding-left: 1em;
	  			padding-right: 1em;
	  			h1 {
	  				width: 100%;
	  			}
	  			.text {
	  				max-width: $phoneWidth;
	  			}
	  		}
	  	}
		}
		#title {
			height: 100%;
			display: table;
			position: relative;
			overflow: hidden;
			.mask {
				width: 100%;
				max-width: $desktopWidth;
				height: 100%;
				display: table;
				margin: auto;
				overflow: hidden;
			}
			.titleWrap {
		  	width: 150%;
		  	height: 100%;
				color: black;
				display: flex;
				flex-direction: row;
				align-items: center;
				position: relative;
				transition: color 50ms $fadeEase, background-color 50ms $fadeEase;
			}
			a {
				text-decoration: none;
			}
			h1.title {
				width: 50%;
				z-index: 10;
				text-decoration: underline;
			}
			.image {
				width: 50%;
				max-width: none;
				opacity: .6;
				transition: background-color 50ms $fadeEase;
				.img {
					display: table;
					background-color: $lightest;
			    transition: background-color 50ms $fadeEase;
			    img {
			    	width: 100%;
			    	display: table;
			    	filter: grayscale(1) contrast(1);
			    	mix-blend-mode: screen;
			    }
				}
			}
			&.odd {
				.titleWrap {
					flex-direction: row-reverse;
				}
				h1.title {
					text-align: left;
					float: left;
					transform: translateX(7%);
				}
				.image {
					float: left;
					transform: translateX(-75%);
					.img {
						float: right;
					}
				}
			}
			&.even {
				.titleWrap {
					flex-direction: row;
				}
				h1.title {
					text-align: right;
					float: right;
					transform: translateX(-75%);
				}
				.image {
					float: right;
					transform: translateX(7%);
				}
			}
		}
		#info {
			min-width: 45em;
			.details, .historical, .aid {
				@include xSmallText;
			}
			.details {
	  		display: table;
	  		label {
					color: $medium;
					text-transform: uppercase;
					&::after {
						content: ': ';
					}
				}
	  		.row {
	  			padding-bottom: .5em;
	  			p {
	  				display: inline;
	  				margin: 0;
	  			}
	  		}
	  	}
			.inner {
				// padding: 0 6em 0 3em;
			}
			.aid {
				padding-top: .5em;
				color: $medium !important;
				a {
	  			text-decoration: none;
	  			border-bottom: 1px solid;
	  			&:not(:hover) {
	  				color: black !important;
	  			}
	  		}
	  	}
		}
		#map {
	  	height: 100%;
	  	display: block;
	  	float: left;
	  	padding: 0 calc(#{$gutter} * 4);
	  	background-color: $lightest;
  		img {
  			height: 100%;
  			mix-blend-mode: multiply;
  		}
		}
		.chapter {
			float: left;
		}
		#grid {
			height: calc(100% - #{$gutter});
			margin: $gutter 0 0 0;
			display: table;
			float: left;
			opacity: 0;
			transition: opacity 500ms $fadeEase;
			&.loaded {
				opacity: 1;
			}
		  .item {
		  	margin: 0 $gutter 0 0;
		  	float: left;
		  	min-height: $minItem;
		  	text-decoration: none;
		  	overflow: hidden;
		  	transition: opacity 500ms $fadeEase;
		  	&.show {
		  		display: block;
		  	}
		  	&.hide {
		  		display: none !important;
		  	}
				&.image {
					display: none;
					&.show {
						display: block;
					}
					.inner {
						height: 100%;
						.image {
							height: 100%;
							background-color: $lighter;
							img {
								max-height: 100%;
								min-height: $minItem;
								display: table;
								margin: 0;
								opacity: 0;
								border: 1px solid $lightest;
								transition: opacity 500ms $fadeEase;
							}
						}
			  	}
			  	&.loaded .inner .image img {
			  		opacity: 1;
			  	}
				}
				&.text {
					width: 20em;
			  	// display: table;
					.inner {
						display: block;
						height: 100%;
						background: $lighter;
						color: $dark;
						padding: 1em;
						@include smallText;
						position: relative;
						.shadow {
							width: 100%;
							height: 100%;
					    position: absolute;
					    left: 0;
					    bottom: 0;
					    box-shadow: inset $lighter 0 -20px 25px;
						}
					}
					&:not(:hover) {
						.inner {
							color: black !important;
						}
					}
					&.smallText {
						.text {
							font-family: $sansBold;
							@include smallText();
						}
					}
					&.mediumText {
						width: 450px;
						.text {
							font-family: $sansBold;
							@include largeText();
						}
					}
					&.largeText {
						width: 550px;
						.text {
							font-family: $sansBlack;
							@include xLargeText();
						}
					}
				}
				&.quote {
					font-family: $sansBlackItalic;
					.text {
						position: relative;
						p {
							display: inline;	
							&:first-child {
								margin-left: 1em;
							}
						}
						&::before, &::after {
							width: 1em;
							display: inline;
							position: absolute;
							@include largeText;
							font-family: $sansBlack;
							line-height: .5em;
							opacity: .4;
						}
						&::before {
							content: '“';
							left: 0;
							top: .2em;
						}
						&::after {
							content: '”';
							bottom: 0;
						}
					}
					&:not(:hover) {
						.text::before, .text::after {
							color: $medium;
							opacity: 1;
						}
					}
				}
				&:hover {
					cursor: pointer;
				}
			}
			&:after {
			  content: '';
			  display: block;
			  clear: both;
			}
			.sizer {
				width: 100%;
		  	height: $medItem;
		  	display: table;
		  }
		  .gutter {
		  	width: $gutter;
		  }
		}
	}
	&.looking {
		#collection {
			z-index: 50;
		}
		header {
			// height: #{$headerHeight*2};
			// .tools {
			// 	opacity: 1;
			// 	pointer-events: all;
			// }
		}
		#table {
			overflow-x: hidden;
			overflow-y: hidden; 
		}
		main {
			overflow-x: hidden;
			overflow-y: hidden; 
		}
	}
	#grid .item, .item.ui-draggable-dragging, .item.ui-sortable-helper, #collection .item {
		font-family: $sans;
		transition: color 300ms $ease;
		text-decoration: none;
		img {
			display: table;
	    filter: grayscale(100%);
	    transition: filter 300ms $ease;
		}
		&:not(.looking):not(.selected) {
			color: $dark !important;
			.image.bw {
				background-color: $dark !important;
			}
		}
		&.looking {
			.image:not(.bw) {
				img {
			    filter: grayscale(0%) !important;
				}
			}
		}
		.image.bw {
	    img {
		    mix-blend-mode: lighten;
		  }
		}
		&.ui-draggable-dragging, &.ui-sortable-helper {
			max-width: 300px;
			height: calc(#{$smallItem} + 1px) !important;
			position: fixed;
			display: flex;
			z-index: 60;
			margin: 0;
			background: $lightest;
			border: solid black;
			border-width: 1px;
			transform: translateY(1px);
			&.text {
				// height: calc(#{$smallItem} - 2px) !important;
				// transform: translateY(4px);
			}
			.inner {
				height: 100%;
				padding: .5em;
				display: flex;
		    align-items: center;
  			overflow: hidden;
				@include xSmallText;
				.image {
					height: 100%;
			    display: block;
					img {
						height: 100% !important;
						vertical-align: middle;
					}
				}
			}
			&.text {
				.inner {
					align-items: flex-start;
					position: relative;
				}
			}
			&.over {
				background-color: $lightest;
				border-color: rgba($medium, .5);
			}
		}
		&.ui-draggable-dragging.text {
			// transform: translateY(0px) !important;
		}
	}
	.end {
		.inner {
			margin: 0;
			column-count: 2;
			column-fill: balance;
			@include xSmallText;
			.column {
				min-width: 20em;
				padding-right: 1em;
				padding-bottom: 1em;
			}
			h3 {
				white-space: nowrap;
				padding-bottom: .25em;
			}
			ul, ol {
				// max-width: 15em;
				margin: auto;
				padding: 0 0 1em 0;
				break-inside: avoid-column;
				&:last-of-type {
					padding: 0;
				}
  			li {
  				padding-bottom: .25em;
  				break-inside: avoid-column;
  				.tags {
	  				@include xSmallText;
	  				text-transform: uppercase;
	  			}
  				.label, .source {
						@include xSmallText();
						color: $medium;
						text-transform: uppercase;
					}
	  			a {
	  				text-decoration: none;
	  				&:not(.story):hover {
							color: $medium;
						}
						&.story:not(:hover) {
							color: $dark !important;
						}
	  			}
	  		}
  		}
  		ul {
  			list-style: none;
  			text-align: center;
  		}
  		ol {
  			list-style: decimal;
  		}
  	}
	}
	@include phone {
		main { 
			#table {
				// display: block;
				// overflow-x: hidden;
				// overflow-y: scroll;
				// padding: 0 1em;
				.card {
					height: 100%;
					padding: 1em 0;
					overflow-y: auto;
					overflow-x: hidden;
					-webkit-overflow-scrolling: touch;
					&.full {
						width: 100vw !important;
					}
					.inner {
						column-count: 1;
						padding-left: 1em;
						padding-right: 1em;
						ul {
							margin: auto;
						}
					}
					&#title {
						height: 100%;
						.mask {
							width: calc(100vw - 2em);
						}
						.image {
							transform: 0;
						}
						&.odd {
							h1.title {
								transform: translateX(0);
							}
						}
					}
					&#info {
						width: 100%;
						min-width: 100%;
						height: auto;
					}
					&.half {
						max-width: 100%;
						min-width: 100%;
					}
				}
				#map {
					height: auto;
					padding: 0;
					img {
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}