@charset "UTF-8";
@font-face {
  font-family: 'Reglo';
  src: url("../fonts/Reglo/Reglo-Bold.eot");
  src: url("../fonts/Reglo/Reglo-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Reglo/Reglo-Bold.woff2") format("woff2"), url("../fonts/Reglo/Reglo-Bold.woff") format("woff"), url("../fonts/Reglo/Reglo-Bold.ttf") format("truetype"), url("../fonts/Reglo/Reglo-Bold.svg#Reglo-Bold") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Office Light';
  src: url("../fonts/OfficeCodePro/OfficeCodePro-Light.eot");
  src: url("../fonts/OfficeCodePro/OfficeCodePro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OfficeCodePro/OfficeCodePro-Light.woff2") format("woff2"), url("../fonts/OfficeCodePro/OfficeCodePro-Light.woff") format("woff"), url("../fonts/OfficeCodePro/OfficeCodePro-Light.ttf") format("truetype"), url("../fonts/OfficeCodePro/OfficeCodePro-Light.svg#OfficeCodePro-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Office Light Italic';
  src: url("../fonts/OfficeCodePro/OfficeCodePro-LightItalic.eot");
  src: url("../fonts/OfficeCodePro/OfficeCodePro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OfficeCodePro/OfficeCodePro-LightItalic.woff2") format("woff2"), url("../fonts/OfficeCodePro/OfficeCodePro-LightItalic.woff") format("woff"), url("../fonts/OfficeCodePro/OfficeCodePro-LightItalic.ttf") format("truetype"), url("../fonts/OfficeCodePro/OfficeCodePro-LightItalic.svg#OfficeCodePro-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Office';
  src: url("../fonts/OfficeCodePro/OfficeCodePro-Regular.eot");
  src: url("../fonts/OfficeCodePro/OfficeCodePro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OfficeCodePro/OfficeCodePro-Regular.woff2") format("woff2"), url("../fonts/OfficeCodePro/OfficeCodePro-Regular.woff") format("woff"), url("../fonts/OfficeCodePro/OfficeCodePro-Regular.ttf") format("truetype"), url("../fonts/OfficeCodePro/OfficeCodePro-Regular.svg#OfficeCodePro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Office Italic';
  src: url("../fonts/OfficeCodePro/OfficeCodePro-RegularItalic.eot");
  src: url("../fonts/OfficeCodePro/OfficeCodePro-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OfficeCodePro/OfficeCodePro-RegularItalic.woff2") format("woff2"), url("../fonts/OfficeCodePro/OfficeCodePro-RegularItalic.woff") format("woff"), url("../fonts/OfficeCodePro/OfficeCodePro-RegularItalic.ttf") format("truetype"), url("../fonts/OfficeCodePro/OfficeCodePro-RegularItalic.svg#OfficeCodePro-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Office Medium';
  src: url("../fonts/OfficeCodePro/OfficeCodePro-Medium.eot");
  src: url("../fonts/OfficeCodePro/OfficeCodePro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/OfficeCodePro/OfficeCodePro-Medium.woff2") format("woff2"), url("../fonts/OfficeCodePro/OfficeCodePro-Medium.woff") format("woff"), url("../fonts/OfficeCodePro/OfficeCodePro-Medium.ttf") format("truetype"), url("../fonts/OfficeCodePro/OfficeCodePro-Medium.svg#OfficeCodePro-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Office Medium Italic';
  src: url("../fonts/OfficeCodePro/OfficeCodePro-MediumItalic.eot");
  src: url("../fonts/OfficeCodePro/OfficeCodePro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OfficeCodePro/OfficeCodePro-MediumItalic.woff2") format("woff2"), url("../fonts/OfficeCodePro/OfficeCodePro-MediumItalic.woff") format("woff"), url("../fonts/OfficeCodePro/OfficeCodePro-MediumItalic.ttf") format("truetype"), url("../fonts/OfficeCodePro/OfficeCodePro-MediumItalic.svg#OfficeCodePro-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Office Bold';
  src: url("../fonts/OfficeCodePro/OfficeCodePro-Bold.eot");
  src: url("../fonts/OfficeCodePro/OfficeCodePro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OfficeCodePro/OfficeCodePro-Bold.woff2") format("woff2"), url("../fonts/OfficeCodePro/OfficeCodePro-Bold.woff") format("woff"), url("../fonts/OfficeCodePro/OfficeCodePro-Bold.ttf") format("truetype"), url("../fonts/OfficeCodePro/OfficeCodePro-Bold.svg#OfficeCodePro-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Office Bold Italic';
  src: url("../fonts/OfficeCodePro/OfficeCodePro-BoldItalic.eot");
  src: url("../fonts/OfficeCodePro/OfficeCodePro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OfficeCodePro/OfficeCodePro-BoldItalic.woff2") format("woff2"), url("../fonts/OfficeCodePro/OfficeCodePro-BoldItalic.woff") format("woff"), url("../fonts/OfficeCodePro/OfficeCodePro-BoldItalic.ttf") format("truetype"), url("../fonts/OfficeCodePro/OfficeCodePro-BoldItalic.svg#OfficeCodePro-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafcfc;
  font-family: "Office", monospace;
  font-weight: normal;
  color: black;
  font-size: 19px;
  line-height: 1.3em;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow: hidden;
  position: relative;
  content: 'desktop'; }
  html *, body * {
    box-sizing: border-box;
    backface-visibility: hidden;
    -webkit-overflow-scrolling: touch; }

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal; }

h1 {
  font-family: "Reglo", Helvetica, Arial, sans-serif;
  font-size: 5em;
  line-height: 1.2em;
  font-weight: normal; }
  @media (max-width: 667px) {
    h1 {
      font-size: 2.8em;
      line-height: 1.2em;
      font-weight: normal; } }

h2 {
  font-family: "Reglo", Helvetica, Arial, sans-serif;
  font-size: 1.7em;
  line-height: 1.2em;
  font-weight: normal; }

h4 {
  font-family: "Office", monospace;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: normal;
  text-align: center;
  padding: 0;
  display: table;
  margin: auto; }

.horz {
  display: table;
  margin: auto; }

.vert {
  display: table-cell;
  vertical-align: middle; }

p {
  margin: 0 0 1em 0; }
  p:last-child {
    margin: 0; }

header {
  width: 100%;
  height: 2em;
  color: black;
  background-color: #f4f6fa;
  display: flex;
  z-index: 20; }
  header a {
    color: black;
    text-decoration: none;
    transition: opacity 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    background-color: #f4f6fa; }
    header a:hover {
      opacity: .5; }
  header .inner {
    width: 100%;
    position: relative;
    font-family: "Reglo", Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase; }
  header .row {
    width: 100%;
    height: 2em;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    border-bottom: 1px solid #000000;
    display: flex;
    align-items: center;
    background-color: #f4f6fa;
    overflow: hidden; }
  header .trail a {
    font-size: 1em;
    line-height: 1.2em;
    font-weight: normal; }
  header .title {
    display: none;
    transition: transform 800ms cubic-bezier(0.215, 0.61, 0.355, 1);
    float: right;
    position: relative;
    transform: translateX(-100vw);
    background: #f4f6fa;
    padding: .1em 0 .1em 1.5em;
    box-shadow: 5px 0 10px 5px #f4f6fa; }
    header .title.ready {
      display: inline-block; }
    header .title.show {
      transform: translateX(0); }
    header .title:not(:last-child) {
      background-size: .75em;
      background-position: .4em .2em;
      background-repeat: no-repeat;
      background-image: url(../images/right.svg); }
    header .title:last-child {
      padding-left: .5em; }
  header .links {
    height: 100%;
    padding-right: .5em;
    position: absolute;
    background-color: #f4f6fa;
    right: 0;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    box-shadow: -5px 0 20px 10px #f4f6fa; }
    header .links a {
      font-size: 1em;
      line-height: 1.2em;
      font-weight: normal;
      margin: 0 .5em 0; }
      header .links a:last-child {
        margin: 0; }
  header .closeSingle {
    padding-right: 1.5em;
    background-size: .75em;
    background-position: calc(100% - .2em) 0.08em;
    background-repeat: no-repeat;
    background-image: url(../images/x.svg); }
  header.fixed {
    left: 0;
    top: 0;
    position: fixed; }

.data {
  display: none; }

.dash {
  width: 3em;
  height: .5em;
  display: table;
  margin: 2em auto;
  background-color: black; }

.dashed svg {
  width: 100%;
  height: .5em; }

@media (max-width: 768px) {
  body {
    content: 'tablet'; } }
@media (max-width: 667px) {
  body {
    content: 'phone'; }
    body:after {
      font-size: 14px; }

  header {
    height: calc(2em*1.75);
    font-size: 19px;
    line-height: 1.3em;
    font-weight: normal; }
    header .row {
      height: calc(2em*1.75);
      display: block;
      border-bottom: 0;
      border-bottom: 1px solid #000000; }
      header .row .title {
        box-shadow: none; }
        header .row .title.item, header .row .title.story {
          display: none; }
      header .row .trail, header .row .links {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        box-shadow: none; }
      header .row .trail {
        height: 2em; }
      header .row .links {
        height: calc(2em/2); }
        header .row .links a {
          font-size: .75em;
          line-height: 1.3em;
          font-weight: normal; } }
body.home {
  overflow-y: auto; }
  body.home main {
    width: 100%;
    display: block; }
    body.home main section#map {
      width: 100%;
      height: 100vh;
      background-color: black;
      color: #fafcfc;
      position: relative;
      overflow: hidden; }
      body.home main section#map .shift {
        position: absolute;
        left: 0;
        top: 0; }
      body.home main section#map .map {
        width: calc(100% + 10em);
        height: calc(100% + 10em);
        left: -5em;
        top: -5em;
        background-image: url(./../images/map.jpg);
        background-position: center;
        background-size: cover; }
      body.home main section#map .title {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        pointer-events: none; }
        body.home main section#map .title h1 {
          width: 100%;
          align-self: center;
          text-align: center; }
    body.home main header .pageTitle span {
      transform: none; }
    body.home main section#stories {
      width: 100%;
      border-top: 1px solid #000000;
      padding-bottom: 2.75em; }
      body.home main section#stories .about {
        width: calc(80% - 4em);
        min-width: 20em;
        max-width: 40em;
        display: table;
        margin: auto;
        padding: 2em; }
      body.home main section#stories .story {
        width: 100%; }
        body.home main section#stories .story a {
          width: 100%;
          padding: 2em;
          color: black;
          display: flex;
          flex-direction: row;
          align-items: center;
          transition: color 30ms cubic-bezier(0.445, 0.05, 0.55, 0.95), background-color 30ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
          body.home main section#stories .story a h1.title {
            flex-grow: 1; }
          body.home main section#stories .story a .image {
            max-width: 30%;
            background-color: black;
            transition: background-color 30ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
            display: table-cell;
            vertical-align: middle; }
            body.home main section#stories .story a .image img {
              width: 100%;
              display: table;
              vertical-align: middle;
              mix-blend-mode: lighten;
              transition: filter 30ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
          body.home main section#stories .story a:hover {
            cursor: pointer; }
            body.home main section#stories .story a:hover .image img {
              filter: grayscale(1) contrast(1); }
          body.home main section#stories .story a:not(:hover) {
            color: #000000 !important; }
            body.home main section#stories .story a:not(:hover) .image {
              background-color: #000000 !important; }
  @media (max-width: 667px) {
    body.home main section#map .map, body.home main section#map .title {
      width: 100%;
      height: 100%;
      transform: none !important;
      left: 0;
      top: 0; }
    body.home main section#stories .about {
      width: 100%;
      padding: 1em;
      min-width: 0; }
    body.home main section#stories .story a {
      position: relative;
      padding: 1em; }
      body.home main section#stories .story a h1 {
        width: 100%;
        display: table;
        z-index: 2; }
      body.home main section#stories .story a .image {
        width: calc(90% - 4em);
        max-width: none;
        position: absolute;
        left: calc(5% + 2em);
        z-index: 1; }
        body.home main section#stories .story a .image img {
          filter: grayscale(1) contrast(1);
          opacity: 0.5; }
        body.home main section#stories .story a .image:not(:hover) {
          background-color: inherit !important; } }

body.story main {
  width: 100%;
  height: calc(100% - 2em - 60px - 1px);
  position: relative;
  overflow-x: scroll;
  transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95), color 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95), background-color 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95), border-color 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
  body.story main.hide {
    opacity: 0;
    pointer-events: none; }
  body.story main .left {
    float: left; }
  body.story main #table {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden; }
  body.story main .spacer.full {
    width: 100%;
    height: 100%;
    display: table; }
  body.story main .title {
    width: 100vw;
    height: 100%;
    background: #fafcfc;
    display: table;
    float: left; }
    body.story main .title .horz {
      height: 100%;
      padding: 0 5em; }
    body.story main .title h1 {
      max-width: 1000px;
      text-align: left;
      margin: 0 auto .2em auto;
      padding: 0;
      text-decoration: underline; }
    body.story main .title .columns {
      max-width: 800px;
      display: flex; }
    body.story main .title .details {
      max-width: 15em;
      padding-right: 1em;
      display: table;
      font-size: .75em;
      line-height: 1.3em;
      font-weight: normal; }
      body.story main .title .details label {
        color: #a5a6a6;
        text-transform: uppercase; }
        body.story main .title .details label::after {
          content: ': '; }
      body.story main .title .details .row {
        white-space: pre; }
      body.story main .title .details a {
        color: black;
        text-decoration: none;
        border-bottom: 1px solid black; }
        body.story main .title .details a:not(:hover) {
          color: black !important; }
    body.story main .title .text {
      font-weight: normal; }
  body.story main #map {
    height: 100%;
    display: block;
    float: left;
    padding: 0 calc(20px * 4);
    background-color: #fafcfc; }
    body.story main #map img {
      height: 100%;
      mix-blend-mode: multiply; }
  body.story main .chapter {
    float: left; }
  body.story main .grid {
    height: calc(100% - 20px);
    margin: 20px 0 0 0;
    display: table;
    float: left;
    opacity: 0;
    transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    body.story main .grid.loaded {
      opacity: 1; }
    body.story main .grid .item {
      display: block;
      margin: 0 20px 0 0;
      float: left;
      min-height: 10em;
      text-decoration: none;
      overflow: hidden; }
      body.story main .grid .item.image .inner {
        height: 100%; }
        body.story main .grid .item.image .inner .image {
          height: 100%; }
          body.story main .grid .item.image .inner .image img {
            max-height: 100%;
            min-height: 10em;
            display: table;
            margin: 0;
            border: 1px solid #fafcfc; }
      body.story main .grid .item.text {
        width: 300px; }
        body.story main .grid .item.text .inner {
          display: block;
          height: 100%;
          background: #f4f6fa;
          padding: 1em;
          font-size: 1em;
          line-height: 1.2em;
          font-weight: normal;
          position: relative; }
          body.story main .grid .item.text .inner:after {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1000;
            content: ''; }
        body.story main .grid .item.text:not(:hover) .inner {
          color: black !important; }
        body.story main .grid .item.text.smallText .text {
          font-size: 1em;
          line-height: 1.2em;
          font-weight: normal; }
        body.story main .grid .item.text.mediumText {
          width: 450px; }
          body.story main .grid .item.text.mediumText .text {
            font-size: 1.3em;
            line-height: 1.3em;
            font-weight: normal; }
        body.story main .grid .item.text.largeText {
          width: 550px; }
          body.story main .grid .item.text.largeText .text {
            font-size: 1.7em;
            line-height: 1.2em;
            font-weight: normal; }
        body.story main .grid .item.text.quote {
          font-family: "Office Italic", monospace; }
      body.story main .grid .item:hover {
        cursor: pointer; }
    body.story main .grid:after {
      content: '';
      display: block;
      clear: both; }
    body.story main .grid .sizer {
      width: 100%;
      height: calc(50% - 1em);
      display: table; }
    body.story main .grid .gutter {
      width: 20px; }
body.story.looking #collection {
  z-index: 50; }
body.story.looking #table {
  overflow-x: hidden;
  overflow-y: hidden; }
body.story.looking main {
  overflow-x: hidden;
  overflow-y: hidden; }
body.story .grid .item, body.story .item.ui-draggable-dragging, body.story .item.ui-sortable-helper, body.story #collection .item {
  font-family: "Office", monospace;
  transition: color 300ms cubic-bezier(0.86, 0, 0.07, 1);
  text-decoration: none; }
  body.story .grid .item img, body.story .item.ui-draggable-dragging img, body.story .item.ui-sortable-helper img, body.story #collection .item img {
    display: table;
    filter: grayscale(100%);
    transition: filter 300ms cubic-bezier(0.86, 0, 0.07, 1); }
  body.story .grid .item:not(.looking):not(.selected), body.story .item.ui-draggable-dragging:not(.looking):not(.selected), body.story .item.ui-sortable-helper:not(.looking):not(.selected), body.story #collection .item:not(.looking):not(.selected) {
    color: #000000 !important; }
    body.story .grid .item:not(.looking):not(.selected) .image.bw, body.story .item.ui-draggable-dragging:not(.looking):not(.selected) .image.bw, body.story .item.ui-sortable-helper:not(.looking):not(.selected) .image.bw, body.story #collection .item:not(.looking):not(.selected) .image.bw {
      background-color: #000000 !important; }
  body.story .grid .item.looking .image:not(.bw) img, body.story .grid .item.selected .image:not(.bw) img, body.story .item.ui-draggable-dragging.looking .image:not(.bw) img, body.story .item.ui-draggable-dragging.selected .image:not(.bw) img, body.story .item.ui-sortable-helper.looking .image:not(.bw) img, body.story .item.ui-sortable-helper.selected .image:not(.bw) img, body.story #collection .item.looking .image:not(.bw) img, body.story #collection .item.selected .image:not(.bw) img {
    filter: grayscale(0%) !important; }
  body.story .grid .item .image.bw img, body.story .item.ui-draggable-dragging .image.bw img, body.story .item.ui-sortable-helper .image.bw img, body.story #collection .item .image.bw img {
    mix-blend-mode: lighten; }
  body.story .grid .item.ui-draggable-dragging, body.story .grid .item.ui-sortable-helper, body.story .item.ui-draggable-dragging.ui-draggable-dragging, body.story .item.ui-draggable-dragging.ui-sortable-helper, body.story .item.ui-sortable-helper.ui-draggable-dragging, body.story .item.ui-sortable-helper.ui-sortable-helper, body.story #collection .item.ui-draggable-dragging, body.story #collection .item.ui-sortable-helper {
    max-width: 300px;
    height: calc(60px + 1px) !important;
    position: fixed;
    display: flex;
    z-index: 60;
    margin: 0;
    background: #fafcfc;
    border: solid black;
    border-width: 1px;
    transform: translateY(1px); }
    body.story .grid .item.ui-draggable-dragging .inner, body.story .grid .item.ui-sortable-helper .inner, body.story .item.ui-draggable-dragging.ui-draggable-dragging .inner, body.story .item.ui-draggable-dragging.ui-sortable-helper .inner, body.story .item.ui-sortable-helper.ui-draggable-dragging .inner, body.story .item.ui-sortable-helper.ui-sortable-helper .inner, body.story #collection .item.ui-draggable-dragging .inner, body.story #collection .item.ui-sortable-helper .inner {
      height: 100%;
      padding: .5em;
      display: flex;
      align-items: center;
      overflow: hidden;
      font-size: .75em;
      line-height: 1.3em;
      font-weight: normal; }
      body.story .grid .item.ui-draggable-dragging .inner .image, body.story .grid .item.ui-sortable-helper .inner .image, body.story .item.ui-draggable-dragging.ui-draggable-dragging .inner .image, body.story .item.ui-draggable-dragging.ui-sortable-helper .inner .image, body.story .item.ui-sortable-helper.ui-draggable-dragging .inner .image, body.story .item.ui-sortable-helper.ui-sortable-helper .inner .image, body.story #collection .item.ui-draggable-dragging .inner .image, body.story #collection .item.ui-sortable-helper .inner .image {
        height: 100%;
        display: block; }
        body.story .grid .item.ui-draggable-dragging .inner .image img, body.story .grid .item.ui-sortable-helper .inner .image img, body.story .item.ui-draggable-dragging.ui-draggable-dragging .inner .image img, body.story .item.ui-draggable-dragging.ui-sortable-helper .inner .image img, body.story .item.ui-sortable-helper.ui-draggable-dragging .inner .image img, body.story .item.ui-sortable-helper.ui-sortable-helper .inner .image img, body.story #collection .item.ui-draggable-dragging .inner .image img, body.story #collection .item.ui-sortable-helper .inner .image img {
          height: 100% !important;
          vertical-align: middle; }
    body.story .grid .item.ui-draggable-dragging.text .inner, body.story .grid .item.ui-sortable-helper.text .inner, body.story .item.ui-draggable-dragging.ui-draggable-dragging.text .inner, body.story .item.ui-draggable-dragging.ui-sortable-helper.text .inner, body.story .item.ui-sortable-helper.ui-draggable-dragging.text .inner, body.story .item.ui-sortable-helper.ui-sortable-helper.text .inner, body.story #collection .item.ui-draggable-dragging.text .inner, body.story #collection .item.ui-sortable-helper.text .inner {
      align-items: flex-start;
      position: relative; }
      body.story .grid .item.ui-draggable-dragging.text .inner:after, body.story .grid .item.ui-sortable-helper.text .inner:after, body.story .item.ui-draggable-dragging.ui-draggable-dragging.text .inner:after, body.story .item.ui-draggable-dragging.ui-sortable-helper.text .inner:after, body.story .item.ui-sortable-helper.ui-draggable-dragging.text .inner:after, body.story .item.ui-sortable-helper.ui-sortable-helper.text .inner:after, body.story #collection .item.ui-draggable-dragging.text .inner:after, body.story #collection .item.ui-sortable-helper.text .inner:after {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        box-shadow: inset #fafcfc 0 -20px 25px; }
    body.story .grid .item.ui-draggable-dragging.over, body.story .grid .item.ui-sortable-helper.over, body.story .item.ui-draggable-dragging.ui-draggable-dragging.over, body.story .item.ui-draggable-dragging.ui-sortable-helper.over, body.story .item.ui-sortable-helper.ui-draggable-dragging.over, body.story .item.ui-sortable-helper.ui-sortable-helper.over, body.story #collection .item.ui-draggable-dragging.over, body.story #collection .item.ui-sortable-helper.over {
      background-color: #fafcfc;
      border-color: rgba(165, 166, 166, 0.5); }
  body.story .grid .item.ui-draggable-dragging.text, body.story .item.ui-draggable-dragging.ui-draggable-dragging.text, body.story .item.ui-sortable-helper.ui-draggable-dragging.text, body.story #collection .item.ui-draggable-dragging.text {
    transform: translateY(0px) !important; }
@media (max-width: 667px) {
  body.story main {
    height: calc(100% - 4em); }
    body.story main #title .horz {
      padding: 0; }
      body.story main #title .horz h1 {
        text-align: center; }
    body.story main #map {
      height: auto;
      padding: 0; }
      body.story main #map img {
        width: 100%;
        height: auto; }
    body.story main #table {
      display: block;
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 0 1em; }
      body.story main #table .grid {
        width: 100%; }
        body.story main #table .grid .item {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px; }
          body.story main #table .grid .item .image {
            background-color: transparent !important; }
            body.story main #table .grid .item .image img {
              max-width: 100%;
              height: auto !important; }
        body.story main #table .grid .sizer {
          display: none; } }

#collection {
  width: 100%;
  height: calc(60px + 1px);
  position: fixed;
  left: 0;
  bottom: 0;
  float: left;
  display: flex;
  border-top: 1px solid #000000;
  overflow: visible;
  background: #f4f6fa;
  z-index: 20; }
  #collection.empty .instruct {
    opacity: .5; }
  #collection.empty .items {
    opacity: 0; }
  #collection:not(.empty) .instruct {
    pointer-events: none; }
  #collection.over.empty .instruct {
    opacity: 0; }
  #collection.sorting {
    z-index: 30; }
    #collection.sorting .items .item .inner {
      opacity: 1; }
  #collection .instruct {
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
    opacity: 0;
    transition: opacity 100ms ease-in; }
    #collection .instruct .vert {
      text-align: center; }
  #collection .items {
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
    transition: opacity 100ms ease-in;
    z-index: 30; }
    #collection .items:hover .item .inner {
      opacity: 1; }
    #collection .items .placeholder {
      float: left;
      margin-left: -1px;
      background: #f4f6fa;
      border: solid #a5a6a6;
      border-width: 0 1px;
      transition: opacity 100ms ease-in; }
      #collection .items .placeholder.hide {
        opacity: 0; }
  #collection .item {
    max-width: 300px;
    height: calc(60px + 1px);
    display: flex;
    float: left;
    border: solid #000000;
    border-width: 0 1px;
    background: #f4f6fa;
    margin-left: -1px;
    transition: opacity 100ms ease-in;
    overflow: hidden;
    text-decoration: none; }
    #collection .item:hover {
      cursor: pointer; }
    #collection .item:not(:hover):not(.looking):not(.selected) .inner {
      color: black !important; }
    #collection .item.ui-sortable-helper {
      transform: none;
      top: -2px;
      background-color: transparent; }
      #collection .item.ui-sortable-helper.deleting .inner {
        opacity: 0.5; }
    #collection .item.selected .inner {
      opacity: 1; }
    #collection .item.text .inner {
      align-items: flex-start;
      position: relative; }
      #collection .item.text .inner:after {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        box-shadow: inset #f4f6fa 0 -20px 25px; }
    #collection .item.text.quote {
      font-family: "Office Italic", monospace; }
    #collection .item.looking .image:not(.bw) img, #collection .item.selected .image:not(.bw) img {
      filter: grayscale(0%) !important; }
    #collection .item .inner {
      height: 100%;
      padding: .5em;
      transition: opacity 100ms ease-in, transform 50ms ease-in;
      opacity: 0.5;
      display: flex;
      margin: auto;
      align-items: center;
      font-size: .75em;
      line-height: 1.3em;
      font-weight: normal; }
      #collection .item .inner .image {
        height: 100%;
        display: block; }
        #collection .item .inner .image img {
          height: 100%;
          vertical-align: middle;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }
        #collection .item .inner .image.bw img {
          mix-blend-mode: lighten; }
        #collection .item .inner .image.bw:not(:hover) {
          background: black !important; }
      #collection .item .inner .caption {
        float: left;
        display: inline-block;
        margin-left: 1em; }
  @media (max-width: 667px) {
    #collection {
      display: none; } }

#single {
  width: calc(100% + 1px);
  height: calc(100% - 60px - 2em);
  position: fixed;
  left: 0;
  top: 2em;
  z-index: 40;
  display: none;
  transform: translateX(-100%);
  transition: transform 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  background-color: #fafcfc;
  border-right: 1px solid black;
  box-shadow: 40px 0px 50px -60px black; }
  #single.open {
    display: flex; }
  #single.show {
    transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(0); }
  #single.loaded .inner {
    opacity: 1; }
  #single section {
    height: 100%;
    min-height: auto;
    position: relative;
    min-width: 10em;
    overflow-y: hidden;
    overflow-x: visible;
    transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    #single section .closeSingle {
      width: 1.5em;
      height: 1.5em;
      position: absolute;
      right: 0;
      top: 0;
      background-size: 1em;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../images/x.svg); }
      #single section .closeSingle:hover {
        cursor: pointer;
        opacity: .5; }
    #single section .scroll {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden; }
    #single section .inner {
      opacity: 0;
      transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
      #single section .inner .text {
        font-size: 1em;
        line-height: 1.2em;
        font-weight: normal; }
      #single section .inner .caption {
        font-size: .75em;
        line-height: 1.3em;
        font-weight: normal; }
      #single section .inner .meta {
        font-family: "Office Italic", monospace; }
      #single section .inner .blocks {
        padding-top: 1em; }
      #single section .inner .block {
        width: 100%;
        display: table;
        margin: auto;
        margin-bottom: 2em;
        line-height: 1.2em;
        padding: .5em 1em;
        line-height: 1.3em; }
        #single section .inner .block p {
          margin: .5em 0; }
        #single section .inner .block a {
          color: black;
          text-decoration: none;
          border-bottom: 1px solid; }
        #single section .inner .block .text {
          font-size: 1.3em;
          line-height: 1.3em;
          font-weight: normal; }
        #single section .inner .block.small {
          max-width: 500px; }
        #single section .inner .block.medium {
          max-width: 800px; }
        #single section .inner .block.large {
          max-width: 1440px; }
        #single section .inner .block.image img {
          max-width: 100%;
          display: table;
          margin: auto; }
        #single section .inner .block.quote {
          width: auto !important;
          display: table;
          margin-left: auto;
          margin-right: auto;
          font-family: "Office Bold Italic", monospace;
          color: #a5a6a6; }
          #single section .inner .block.quote .text {
            font-family: "Office Bold Italic", monospace;
            position: relative; }
            #single section .inner .block.quote .text::before, #single section .inner .block.quote .text::after {
              width: 1em;
              display: inline;
              position: absolute;
              font-size: 1.7em;
              line-height: 1.2em;
              font-weight: normal;
              line-height: .5em;
              color: #a5a6a6; }
            #single section .inner .block.quote .text::before {
              content: '“';
              left: 0;
              top: 0; }
            #single section .inner .block.quote .text::after {
              content: '”'; }
            #single section .inner .block.quote .text p {
              display: inline; }
              #single section .inner .block.quote .text p:first-child {
                margin-left: 1.3em; }
          #single section .inner .block.quote .attribution {
            font-family: "Office Medium", monospace;
            padding-top: 20px; }
          #single section .inner .block.quote.small .text {
            font-size: 1.3em;
            line-height: 1.3em;
            font-weight: normal; }
          #single section .inner .block.quote.medium .text {
            font-size: 1.7em;
            line-height: 1.2em;
            font-weight: normal; }
          #single section .inner .block.quote.large {
            max-width: 1000px; }
            #single section .inner .block.quote.large .text {
              font-size: 2.8em;
              line-height: 1.2em;
              font-weight: normal; }
  #single.paper section {
    width: 100%; }
  #single.folder section#left {
    width: calc(50% + 6px);
    padding-right: 6px; }
    #single.folder section#left .ui-resizable-handle {
      height: 100%;
      position: absolute;
      right: -6px;
      top: 0;
      padding: 0 6px;
      z-index: 100; }
      #single.folder section#left .ui-resizable-handle .line {
        width: 10px;
        height: 100%;
        border: solid black;
        border-width: 0 1px; }
      #single.folder section#left .ui-resizable-handle:hover {
        cursor: col-resize; }
  #single.folder section#right {
    width: calc(50% - 6px); }
    #single.folder section#right .inner {
      width: 100%;
      max-width: 800px;
      display: table;
      margin: auto; }
      #single.folder section#right .inner .intro {
        padding: 1em; }
  #single.object section {
    width: 100%; }
    #single.object section .inner {
      max-width: 800px;
      height: 100%;
      padding: 20px;
      display: table;
      margin: auto; }
      #single.object section .inner img {
        width: 100%; }
  #single.quote section {
    width: 100%; }
    #single.quote section .inner {
      max-width: 800px;
      height: 100%;
      padding: 20px;
      display: table;
      margin: auto; }
    #single.quote section.small .inner {
      max-width: 500px; }
      #single.quote section.small .inner .text {
        font-size: 1.3em;
        line-height: 1.3em;
        font-weight: normal; }
    #single.quote section.medium .inner {
      max-width: 800px; }
      #single.quote section.medium .inner .text {
        font-size: 1.7em;
        line-height: 1.2em;
        font-weight: normal; }
    #single.quote section.large .inner {
      max-width: 1000px; }
      #single.quote section.large .inner .text {
        font-size: 2.8em;
        line-height: 1.2em;
        font-weight: normal; }
  @media (max-width: 667px) {
    #single {
      height: calc(100% - 4em);
      top: 4em; }
      #single.folder {
        width: calc(200% - 40px); }
        #single.folder section {
          width: 50% !important;
          min-width: auto;
          transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1); }
        #single.folder.left {
          transform: translateX(0); }
          #single.folder.left #right .inner {
            opacity: 0; }
        #single.folder.right {
          transform: translateX(calc(-50% + 20px + 1px)); }
          #single.folder.right #left .inner {
            opacity: 0; } }

body.aid main, body.about main {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 2em);
  position: relative; }
  body.aid main section, body.about main section {
    width: 100%;
    min-height: 100%;
    padding-top: 2em;
    display: flex; }
    body.aid main section .inner, body.about main section .inner {
      max-width: 800px;
      padding: 0 2em;
      flex: 4; }
    body.aid main section .margin, body.about main section .margin {
      flex: 1;
      position: relative; }
      body.aid main section .margin img, body.about main section .margin img {
        position: absolute; }
    body.aid main section h3, body.about main section h3 {
      text-align: center;
      display: table;
      pointer-events: none; }
    body.aid main section h2, body.aid main section h3, body.aid main section h4, body.about main section h2, body.about main section h3, body.about main section h4 {
      margin: 0 auto .5em auto; }
    body.aid main section h2, body.about main section h2 {
      font-family: "Reglo", Helvetica, Arial, sans-serif;
      text-align: center; }
      body.aid main section h2 a:hover, body.about main section h2 a:hover {
        color: #000000 !important; }
      body.aid main section h2.title, body.about main section h2.title {
        width: 100%;
        text-align: left;
        border-bottom: .2em solid;
        pointer-events: none; }
    body.aid main section a, body.about main section a {
      color: black;
      text-decoration: none; }
    body.aid main section .group, body.about main section .group {
      width: 100%;
      max-width: 800px;
      padding: 0 0 1em 0; }
    body.aid main section .details .text, body.about main section .details .text {
      padding: 0 1em;
      font-size: .75em;
      line-height: 1.3em;
      font-weight: normal; }
    body.aid main section .details .subgroup, body.about main section .details .subgroup {
      padding-bottom: .5em; }
      body.aid main section .details .subgroup:last-child, body.about main section .details .subgroup:last-child {
        padding: 0; }
      body.aid main section .details .subgroup .subtitle, body.about main section .details .subgroup .subtitle {
        color: #a5a6a6;
        text-transform: uppercase;
        pointer-events: none; }
        body.aid main section .details .subgroup .subtitle::after, body.about main section .details .subgroup .subtitle::after {
          content: ': '; }
      body.aid main section .details .subgroup p, body.about main section .details .subgroup p {
        display: inline; }
  body.aid main .story, body.about main .story {
    margin-top: 2em; }
    body.aid main .story .collapsable, body.about main .story .collapsable {
      overflow: hidden; }
    body.aid main .story .items, body.about main .story .items {
      padding: 0 0 1em 1em; }
      body.aid main .story .items a:not(:hover), body.about main .story .items a:not(:hover) {
        color: #000000 !important; }
        body.aid main .story .items a:not(:hover) .meta, body.about main .story .items a:not(:hover) .meta {
          color: #b3b4b7 !important; }
      body.aid main .story .items a:hover .meta, body.about main .story .items a:hover .meta {
        opacity: 0.6; }
      body.aid main .story .items .wrap.item, body.about main .story .items .wrap.item {
        width: 100%;
        display: table;
        padding: 0 0 .25em 0; }
        body.aid main .story .items .wrap.item .meta, body.about main .story .items .wrap.item .meta {
          font-size: .75em;
          line-height: 1.3em;
          font-weight: normal; }
          body.aid main .story .items .wrap.item .meta span, body.about main .story .items .wrap.item .meta span {
            display: inline-table;
            text-transform: uppercase; }
            body.aid main .story .items .wrap.item .meta span:not(:first-child):before, body.about main .story .items .wrap.item .meta span:not(:first-child):before {
              content: '\00a0•\00a0'; }
        body.aid main .story .items .wrap.item ul, body.about main .story .items .wrap.item ul {
          margin: 0;
          padding: .25em 0 0 1em;
          list-style: none; }
          body.aid main .story .items .wrap.item ul li, body.about main .story .items .wrap.item ul li {
            font-size: .75em;
            line-height: 1.3em;
            font-weight: normal; }
            body.aid main .story .items .wrap.item ul li em, body.about main .story .items .wrap.item ul li em {
              font-family: "Office Italic", monospace;
              font-style: normal; }
    body.aid main .story .empty, body.about main .story .empty {
      color: #a5a6a6;
      font-family: "Office Italic", monospace; }
@media (max-width: 667px) {
  body.aid main, body.about main {
    height: calc(100% - (2em*1.75)) !important; }
    body.aid main section .inner, body.about main section .inner {
      padding: 0 .75em; }
    body.aid main section .details .text, body.about main section .details .text {
      padding: 0; }
  body.aid .margin, body.about .margin {
    display: none; } }

footer {
  width: 100%;
  border-top: 1px solid #000000;
  background-color: #f4f6fa;
  display: table; }
  footer #collection {
    position: relative;
    border-top: none;
    border-bottom: 1px solid #000000; }
    footer #collection.empty {
      display: none; }
    footer #collection .item {
      border-bottom: 1px solid #000000; }
      footer #collection .item.ui-sortable-helper {
        background: #f4f6fa;
        border-top: 1px solid #000000; }
  footer .inner {
    width: 100%;
    padding: 2em;
    display: flex; }
  footer .group {
    max-width: 15em;
    padding-right: 2em;
    float: left; }
    footer .group.description {
      max-width: 30em; }
  footer h4 {
    text-align: left;
    margin: 0; }
  footer ul {
    padding: 0;
    margin: 0; }
    footer ul li {
      list-style: none;
      font-size: .75em;
      line-height: 1.3em;
      font-weight: normal; }

@media (max-width: 667px) {
  footer .inner {
    padding: .75em;
    display: table; }
    footer .inner .group {
      padding-right: 0;
      padding-bottom: .75em; } }

/*# sourceMappingURL=prestyle.css.map */
