@font-face {
  font-family: 'Reglo';
  src: url("./../fonts/Reglo/Reglo-Bold.eot");
  src: url("./../fonts/Reglo/Reglo-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/Reglo/Reglo-Bold.woff2") format("woff2"), url("./../fonts/Reglo/Reglo-Bold.woff") format("woff"), url("./../fonts/Reglo/Reglo-Bold.ttf") format("truetype"), url("./../fonts/Reglo/Reglo-Bold.svg#Reglo-Bold") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Office Light';
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-Light.eot");
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-Light.eot?#iefix") format("embedded-opentype"), url("./../fonts/OfficeCodePro/OfficeCodePro-Light.woff2") format("woff2"), url("./../fonts/OfficeCodePro/OfficeCodePro-Light.woff") format("woff"), url("./../fonts/OfficeCodePro/OfficeCodePro-Light.ttf") format("truetype"), url("./../fonts/OfficeCodePro/OfficeCodePro-Light.svg#OfficeCodePro-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Office Light Italic';
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-LightItalic.eot");
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-LightItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/OfficeCodePro/OfficeCodePro-LightItalic.woff2") format("woff2"), url("./../fonts/OfficeCodePro/OfficeCodePro-LightItalic.woff") format("woff"), url("./../fonts/OfficeCodePro/OfficeCodePro-LightItalic.ttf") format("truetype"), url("./../fonts/OfficeCodePro/OfficeCodePro-LightItalic.svg#OfficeCodePro-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Office';
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-Regular.eot");
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/OfficeCodePro/OfficeCodePro-Regular.woff2") format("woff2"), url("./../fonts/OfficeCodePro/OfficeCodePro-Regular.woff") format("woff"), url("./../fonts/OfficeCodePro/OfficeCodePro-Regular.ttf") format("truetype"), url("./../fonts/OfficeCodePro/OfficeCodePro-Regular.svg#OfficeCodePro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Office Italic';
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-RegularItalic.eot");
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-RegularItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/OfficeCodePro/OfficeCodePro-RegularItalic.woff2") format("woff2"), url("./../fonts/OfficeCodePro/OfficeCodePro-RegularItalic.woff") format("woff"), url("./../fonts/OfficeCodePro/OfficeCodePro-RegularItalic.ttf") format("truetype"), url("./../fonts/OfficeCodePro/OfficeCodePro-RegularItalic.svg#OfficeCodePro-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Office Medium';
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-Medium.eot");
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-Medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/OfficeCodePro/OfficeCodePro-Medium.woff2") format("woff2"), url("./../fonts/OfficeCodePro/OfficeCodePro-Medium.woff") format("woff"), url("./../fonts/OfficeCodePro/OfficeCodePro-Medium.ttf") format("truetype"), url("./../fonts/OfficeCodePro/OfficeCodePro-Medium.svg#OfficeCodePro-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Office Medium Italic';
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-MediumItalic.eot");
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/OfficeCodePro/OfficeCodePro-MediumItalic.woff2") format("woff2"), url("./../fonts/OfficeCodePro/OfficeCodePro-MediumItalic.woff") format("woff"), url("./../fonts/OfficeCodePro/OfficeCodePro-MediumItalic.ttf") format("truetype"), url("./../fonts/OfficeCodePro/OfficeCodePro-MediumItalic.svg#OfficeCodePro-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Office Bold';
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-Bold.eot");
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/OfficeCodePro/OfficeCodePro-Bold.woff2") format("woff2"), url("./../fonts/OfficeCodePro/OfficeCodePro-Bold.woff") format("woff"), url("./../fonts/OfficeCodePro/OfficeCodePro-Bold.ttf") format("truetype"), url("./../fonts/OfficeCodePro/OfficeCodePro-Bold.svg#OfficeCodePro-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Office Bold Italic';
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-BoldItalic.eot");
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/OfficeCodePro/OfficeCodePro-BoldItalic.woff2") format("woff2"), url("./../fonts/OfficeCodePro/OfficeCodePro-BoldItalic.woff") format("woff"), url("./../fonts/OfficeCodePro/OfficeCodePro-BoldItalic.ttf") format("truetype"), url("./../fonts/OfficeCodePro/OfficeCodePro-BoldItalic.svg#OfficeCodePro-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Office", monospace;
  font-weight: normal;
  color: black;
  font-size: 19px;
  line-height: 1.3em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden; }
  html *, body * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal; }

h1 {
  font-family: "Reglo", Helvetica, Arial, sans-serif;
  font-size: 5em;
  line-height: 1.1em; }

h4 {
  font-family: "Office", monospace;
  font-size: 1em;
  line-height: 1.1em;
  font-weight: normal;
  text-align: center;
  padding: 1em 0;
  display: table;
  margin: auto;
  text-decoration: underline; }

.horz {
  display: table;
  margin: auto; }

.vert {
  display: table-cell;
  vertical-align: middle; }

header {
  width: 100%;
  height: 2em;
  color: black;
  background-color: white;
  display: flex;
  transition: height 500ms cubic-bezier(0.86, 0, 0.07, 1); }
  header a {
    color: black;
    text-decoration: none; }
  header .inner {
    width: 100%;
    position: relative;
    font-family: "Reglo", Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: .8em; }
  header .row {
    width: 100%;
    height: calc(2em);
    position: absolute;
    left: 0;
    border-bottom: 1px solid #3d3d3f;
    display: flex;
    align-items: center;
    background-color: white; }
    header .row.primary {
      top: 0;
      z-index: 20; }
    header .row.secondary {
      bottom: 0;
      z-index: 10;
      position: absolute; }
  header .title {
    padding: 0 0 0 .5em; }
  header .pageTitle {
    display: flex;
    flex-grow: 1;
    flex-direction: row-reverse;
    transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    header .pageTitle span {
      transform: translateX(100%);
      padding: 0 .5em 0 0;
      float: right;
      text-align: right; }
    header .pageTitle.hide {
      opacity: 0; }
  header .tools {
    width: 1em;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    header .tools .tool {
      width: 1em;
      height: 1em; }
      header .tools .tool:hover {
        cursor: pointer; }
  header.fixed {
    left: 0;
    top: 0;
    position: fixed; }

section {
  width: 100%;
  min-height: 100vh; }

footer {
  margin: 2em 0;
  padding: 2em 0;
  border-top: 1px solid #3d3d3f; }

.data {
  display: none; }

.dash {
  width: 3em;
  height: .5em;
  display: table;
  margin: 2em auto;
  background-color: black; }

.dashed svg {
  width: 100%;
  height: .5em; }

body.home {
  overflow-y: auto; }
  body.home main {
    width: 100%;
    display: table; }
    body.home main section.map {
      background-color: black;
      color: white;
      background-image: url(./../images/map.jpg);
      background-position: center;
      background-size: cover;
      display: table; }
      body.home main section.map .title {
        height: 100%;
        display: table-cell;
        vertical-align: middle; }
        body.home main section.map .title h1 {
          display: table;
          margin: auto;
          text-align: center;
          cursor: default; }
    body.home main header .pageTitle span {
      transform: none; }
    body.home main section.stories {
      border-top: 1px solid #3d3d3f; }
      body.home main section.stories .about {
        font-size: 19px;
        line-height: 1.3em;
        width: calc(80% - 4em);
        min-width: 20em;
        max-width: 40em;
        display: table;
        margin: auto;
        padding: 2em; }
      body.home main section.stories .story {
        width: calc(100% - 1em);
        padding: 2em 1em;
        border-top: 10px solid white; }
        body.home main section.stories .story a {
          color: black;
          display: flex;
          flex-direction: row;
          align-items: center;
          transition: color 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
          body.home main section.stories .story a h1.title {
            flex-grow: 1; }
          body.home main section.stories .story a .image {
            max-width: 30%;
            background-color: black;
            transition: background-color 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
            display: table;
            vertical-align: middle; }
            body.home main section.stories .story a .image img {
              width: 100%;
              display: table;
              vertical-align: middle;
              mix-blend-mode: lighten;
              transition: filter 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
          body.home main section.stories .story a:hover {
            color: #e21b23;
            cursor: pointer; }
            body.home main section.stories .story a:hover .image {
              background-color: #e21b23; }
              body.home main section.stories .story a:hover .image img {
                filter: grayscale(1) contrast(1); }

body.story main {
  width: 100%;
  height: calc(100% - 2em - 3.5em);
  position: relative;
  overflow-x: scroll;
  transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95), color 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95), background-color 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95), border-color 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
  body.story main.hide {
    opacity: 0;
    pointer-events: none; }
  body.story main .left {
    float: left; }
  body.story main #table {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: visible; }
  body.story main .spacer.full {
    width: 100%;
    height: 100%;
    display: table; }
  body.story main .title {
    width: 100%;
    height: 100%;
    background: white;
    display: table;
    float: left; }
    body.story main .title .horz {
      height: 100%;
      padding: 0 5em; }
    body.story main .title h1 {
      max-width: 1000px;
      text-align: left;
      margin: auto;
      padding: 0;
      text-decoration: underline;
      font-size: 5em;
      line-height: 1.2em;
      font-weight: normal; }
    body.story main .title .text {
      max-width: 800px;
      display: none;
      font-weight: normal; }
  body.story main #map {
    height: 100%;
    display: block;
    float: left;
    padding: 0 calc(20px * 4); }
    body.story main #map img {
      height: 100%; }
  body.story main .chapter {
    float: left; }
  body.story main .grid {
    height: calc(100% - 20px);
    margin: 20px 0 0 0;
    display: table;
    float: left;
    opacity: 0;
    transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    body.story main .grid.loaded {
      opacity: 1; }
    body.story main .grid .item {
      display: block;
      margin: 0 20px 0 0;
      float: left;
      cursor: pointer; }
      body.story main .grid .item.folder .inner, body.story main .grid .item.object .inner {
        height: 100%; }
        body.story main .grid .item.folder .inner .image, body.story main .grid .item.object .inner .image {
          height: 100%; }
          body.story main .grid .item.folder .inner .image img, body.story main .grid .item.object .inner .image img {
            max-height: 100%;
            display: table;
            margin: 0; }
      body.story main .grid .item.paper {
        width: 300px;
        display: block; }
        body.story main .grid .item.paper .inner {
          display: table-cell;
          vertical-align: middle;
          font-size: 1em;
          line-height: 1.1em;
          font-weight: normal; }
    body.story main .grid:after {
      content: '';
      display: block;
      clear: both; }
    body.story main .grid .sizer {
      height: calc(50% - 1em);
      display: table; }
    body.story main .grid .gutter {
      width: 20px; }
body.story.looking #collection {
  z-index: 50; }
body.story.looking header {
  height: 4em; }
  body.story.looking header .tools {
    opacity: 1;
    pointer-events: all; }
body.story .grid .item, body.story .item.ui-draggable-dragging, body.story .item.ui-sortable-helper, body.story #collection .item {
  font-family: 'Simplon BP Mono';
  transition: color 300ms cubic-bezier(0.86, 0, 0.07, 1); }
  body.story .grid .item img, body.story .item.ui-draggable-dragging img, body.story .item.ui-sortable-helper img, body.story #collection .item img {
    display: table;
    filter: grayscale(100%);
    transition: filter 300ms cubic-bezier(0.86, 0, 0.07, 1); }
  body.story .grid .item.looking, body.story .grid .item.selected, body.story .item.ui-draggable-dragging.looking, body.story .item.ui-draggable-dragging.selected, body.story .item.ui-sortable-helper.looking, body.story .item.ui-sortable-helper.selected, body.story #collection .item.looking, body.story #collection .item.selected {
    cursor: pointer;
    color: #e21b23; }
    body.story .grid .item.looking .image.bw, body.story .grid .item.selected .image.bw, body.story .item.ui-draggable-dragging.looking .image.bw, body.story .item.ui-draggable-dragging.selected .image.bw, body.story .item.ui-sortable-helper.looking .image.bw, body.story .item.ui-sortable-helper.selected .image.bw, body.story #collection .item.looking .image.bw, body.story #collection .item.selected .image.bw {
      background-color: #e21b23; }
    body.story .grid .item.looking .image:not(.bw) img, body.story .grid .item.selected .image:not(.bw) img, body.story .item.ui-draggable-dragging.looking .image:not(.bw) img, body.story .item.ui-draggable-dragging.selected .image:not(.bw) img, body.story .item.ui-sortable-helper.looking .image:not(.bw) img, body.story .item.ui-sortable-helper.selected .image:not(.bw) img, body.story #collection .item.looking .image:not(.bw) img, body.story #collection .item.selected .image:not(.bw) img {
      filter: grayscale(0%) !important; }
  body.story .grid .item .image.bw, body.story .item.ui-draggable-dragging .image.bw, body.story .item.ui-sortable-helper .image.bw, body.story #collection .item .image.bw {
    background-color: black;
    transition: background-color 500ms cubic-bezier(0.86, 0, 0.07, 1); }
    body.story .grid .item .image.bw img, body.story .item.ui-draggable-dragging .image.bw img, body.story .item.ui-sortable-helper .image.bw img, body.story #collection .item .image.bw img {
      mix-blend-mode: lighten; }
  body.story .grid .item.ui-draggable-dragging, body.story .grid .item.ui-sortable-helper, body.story .item.ui-draggable-dragging.ui-draggable-dragging, body.story .item.ui-draggable-dragging.ui-sortable-helper, body.story .item.ui-sortable-helper.ui-draggable-dragging, body.story .item.ui-sortable-helper.ui-sortable-helper, body.story #collection .item.ui-draggable-dragging, body.story #collection .item.ui-sortable-helper {
    max-width: 300px;
    height: calc(3.5em + 1px) !important;
    position: fixed;
    display: flex;
    z-index: 60;
    margin: 0;
    background: white;
    border: solid black;
    border-width: 1px;
    transform: translateY(1px); }
    body.story .grid .item.ui-draggable-dragging .inner, body.story .grid .item.ui-sortable-helper .inner, body.story .item.ui-draggable-dragging.ui-draggable-dragging .inner, body.story .item.ui-draggable-dragging.ui-sortable-helper .inner, body.story .item.ui-sortable-helper.ui-draggable-dragging .inner, body.story .item.ui-sortable-helper.ui-sortable-helper .inner, body.story #collection .item.ui-draggable-dragging .inner, body.story #collection .item.ui-sortable-helper .inner {
      height: 100%;
      padding: .5em;
      display: flex;
      align-items: center;
      font-size: .75em;
      line-height: 1.1em;
      font-weight: normal; }
      body.story .grid .item.ui-draggable-dragging .inner .image, body.story .grid .item.ui-sortable-helper .inner .image, body.story .item.ui-draggable-dragging.ui-draggable-dragging .inner .image, body.story .item.ui-draggable-dragging.ui-sortable-helper .inner .image, body.story .item.ui-sortable-helper.ui-draggable-dragging .inner .image, body.story .item.ui-sortable-helper.ui-sortable-helper .inner .image, body.story #collection .item.ui-draggable-dragging .inner .image, body.story #collection .item.ui-sortable-helper .inner .image {
        height: 100%;
        display: block; }
        body.story .grid .item.ui-draggable-dragging .inner .image img, body.story .grid .item.ui-sortable-helper .inner .image img, body.story .item.ui-draggable-dragging.ui-draggable-dragging .inner .image img, body.story .item.ui-draggable-dragging.ui-sortable-helper .inner .image img, body.story .item.ui-sortable-helper.ui-draggable-dragging .inner .image img, body.story .item.ui-sortable-helper.ui-sortable-helper .inner .image img, body.story #collection .item.ui-draggable-dragging .inner .image img, body.story #collection .item.ui-sortable-helper .inner .image img {
          height: 100% !important;
          vertical-align: middle; }
    body.story .grid .item.ui-draggable-dragging.over, body.story .grid .item.ui-sortable-helper.over, body.story .item.ui-draggable-dragging.ui-draggable-dragging.over, body.story .item.ui-draggable-dragging.ui-sortable-helper.over, body.story .item.ui-sortable-helper.ui-draggable-dragging.over, body.story .item.ui-sortable-helper.ui-sortable-helper.over, body.story #collection .item.ui-draggable-dragging.over, body.story #collection .item.ui-sortable-helper.over {
      background-color: white;
      border-color: rgba(61, 61, 63, 0.5); }

#collection {
  width: 100%;
  height: 3.5em;
  position: fixed;
  left: 0;
  bottom: 0;
  float: left;
  display: flex;
  border-top: 1px solid #3d3d3f;
  overflow: visible;
  background: white;
  z-index: 20; }
  #collection.empty .instruct {
    opacity: .5; }
  #collection.empty .items {
    opacity: 0; }
  #collection.over.empty .instruct {
    opacity: 0; }
  #collection.sorting .items .item .inner {
    opacity: 1; }
  #collection .instruct {
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
    opacity: 0;
    transition: opacity 100ms ease-in; }
    #collection .instruct .vert {
      text-align: center; }
  #collection .items {
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
    transition: opacity 100ms ease-in;
    z-index: 30; }
    #collection .items:hover .item .inner {
      opacity: 1; }
    #collection .items .placeholder {
      float: left;
      margin-left: -1px;
      background: #f2f2f9;
      border: solid #3d3d3f;
      border-width: 0 1px; }
  #collection .item {
    max-width: 300px;
    height: calc(3.5em + 2px);
    display: flex;
    float: left;
    border: solid #3d3d3f;
    border-width: 0 1px;
    background: white;
    margin-left: -1px; }
    #collection .item:hover {
      cursor: pointer; }
    #collection .item.ui-sortable-helper {
      transform: none; }
    #collection .item.selected .inner {
      opacity: 1; }
    #collection .item .inner {
      height: 100%;
      padding: .5em;
      transition: opacity 100ms ease-in, transform 50ms ease-in;
      opacity: 0.5;
      display: flex;
      margin: auto;
      align-items: center;
      font-size: .75em;
      line-height: 1.1em;
      font-weight: normal; }
      #collection .item .inner .image {
        height: 100%;
        display: block; }
        #collection .item .inner .image img {
          height: 100%;
          vertical-align: middle;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }
      #collection .item .inner .caption {
        float: left;
        display: inline-block;
        margin-left: 1em; }

#single {
  width: 100%;
  height: calc(100% - 3.5em - 4em);
  position: fixed;
  left: 0;
  top: 4em;
  z-index: 40;
  display: none;
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  background-color: white; }
  #single.open {
    display: flex; }
  #single.show {
    opacity: 1; }
  #single.loaded section .inner {
    opacity: 1; }
  #single.replacing section .inner {
    opacity: 0; }
  #single section {
    height: 100%;
    min-height: auto;
    position: relative;
    min-width: 10em;
    overflow: hidden;
    transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    #single section .scroll {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden; }
    #single section .inner {
      opacity: 0; }
      #single section .inner .text {
        line-height: 1.2em; }
        #single section .inner .text p {
          margin: 0 0 1em 0; }
  #single.paper section {
    width: 100%; }
    #single.paper section .inner {
      max-width: 800px;
      display: table;
      margin: auto; }
  #single.folder section {
    width: 50%; }
    #single.folder section#left #handle {
      height: 100%;
      position: absolute;
      right: -6px;
      top: 0;
      padding: 0 6px;
      z-index: 100; }
      #single.folder section#left #handle .line {
        width: 4px;
        height: 100%;
        border: solid black;
        border-width: 0 1px; }
      #single.folder section#left #handle:hover {
        cursor: col-resize; }
    #single.folder section#right .inner {
      max-width: 800px;
      display: table;
      margin: auto; }
      #single.folder section#right .inner .intro {
        padding: 1em; }
  #single.object section {
    width: 100%; }
    #single.object section .inner {
      max-width: 800px;
      height: 100%;
      padding: 20px;
      display: table;
      margin: auto; }
      #single.object section .inner img {
        width: 100%; }
  #single .items .itemsWrap {
    padding: .5em 1em; }
    #single .items .itemsWrap .item {
      padding: .5em 0;
      transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
      #single .items .itemsWrap .item.image {
        opacity: 0; }
        #single .items .itemsWrap .item.image.loaded {
          opacity: 1; }
      #single .items .itemsWrap .item .itemWrap img {
        max-width: 100%;
        display: table;
        margin: auto;
        vertical-align: middle; }
      #single .items .itemsWrap .item .itemWrap .caption {
        margin: 1em 0 0 0; }
      #single .items .itemsWrap .item.readable {
        width: 100%; }
        #single .items .itemsWrap .item.readable img {
          width: auto;
          max-width: 100%;
          max-height: 100%; }

/*# sourceMappingURL=prestyle.css.map */
