@charset "UTF-8";
@font-face {
  font-family: 'Reglo';
  src: url("./../fonts/Reglo/Reglo-Bold.eot");
  src: url("./../fonts/Reglo/Reglo-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/Reglo/Reglo-Bold.woff2") format("woff2"), url("./../fonts/Reglo/Reglo-Bold.woff") format("woff"), url("./../fonts/Reglo/Reglo-Bold.ttf") format("truetype"), url("./../fonts/Reglo/Reglo-Bold.svg#Reglo-Bold") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Office Light';
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-Light.eot");
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-Light.eot?#iefix") format("embedded-opentype"), url("./../fonts/OfficeCodePro/OfficeCodePro-Light.woff2") format("woff2"), url("./../fonts/OfficeCodePro/OfficeCodePro-Light.woff") format("woff"), url("./../fonts/OfficeCodePro/OfficeCodePro-Light.ttf") format("truetype"), url("./../fonts/OfficeCodePro/OfficeCodePro-Light.svg#OfficeCodePro-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Office Light Italic';
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-LightItalic.eot");
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-LightItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/OfficeCodePro/OfficeCodePro-LightItalic.woff2") format("woff2"), url("./../fonts/OfficeCodePro/OfficeCodePro-LightItalic.woff") format("woff"), url("./../fonts/OfficeCodePro/OfficeCodePro-LightItalic.ttf") format("truetype"), url("./../fonts/OfficeCodePro/OfficeCodePro-LightItalic.svg#OfficeCodePro-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Office';
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-Regular.eot");
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/OfficeCodePro/OfficeCodePro-Regular.woff2") format("woff2"), url("./../fonts/OfficeCodePro/OfficeCodePro-Regular.woff") format("woff"), url("./../fonts/OfficeCodePro/OfficeCodePro-Regular.ttf") format("truetype"), url("./../fonts/OfficeCodePro/OfficeCodePro-Regular.svg#OfficeCodePro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Office Italic';
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-RegularItalic.eot");
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-RegularItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/OfficeCodePro/OfficeCodePro-RegularItalic.woff2") format("woff2"), url("./../fonts/OfficeCodePro/OfficeCodePro-RegularItalic.woff") format("woff"), url("./../fonts/OfficeCodePro/OfficeCodePro-RegularItalic.ttf") format("truetype"), url("./../fonts/OfficeCodePro/OfficeCodePro-RegularItalic.svg#OfficeCodePro-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Office Medium';
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-Medium.eot");
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-Medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/OfficeCodePro/OfficeCodePro-Medium.woff2") format("woff2"), url("./../fonts/OfficeCodePro/OfficeCodePro-Medium.woff") format("woff"), url("./../fonts/OfficeCodePro/OfficeCodePro-Medium.ttf") format("truetype"), url("./../fonts/OfficeCodePro/OfficeCodePro-Medium.svg#OfficeCodePro-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Office Medium Italic';
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-MediumItalic.eot");
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/OfficeCodePro/OfficeCodePro-MediumItalic.woff2") format("woff2"), url("./../fonts/OfficeCodePro/OfficeCodePro-MediumItalic.woff") format("woff"), url("./../fonts/OfficeCodePro/OfficeCodePro-MediumItalic.ttf") format("truetype"), url("./../fonts/OfficeCodePro/OfficeCodePro-MediumItalic.svg#OfficeCodePro-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Office Bold';
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-Bold.eot");
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/OfficeCodePro/OfficeCodePro-Bold.woff2") format("woff2"), url("./../fonts/OfficeCodePro/OfficeCodePro-Bold.woff") format("woff"), url("./../fonts/OfficeCodePro/OfficeCodePro-Bold.ttf") format("truetype"), url("./../fonts/OfficeCodePro/OfficeCodePro-Bold.svg#OfficeCodePro-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Office Bold Italic';
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-BoldItalic.eot");
  src: url("./../fonts/OfficeCodePro/OfficeCodePro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/OfficeCodePro/OfficeCodePro-BoldItalic.woff2") format("woff2"), url("./../fonts/OfficeCodePro/OfficeCodePro-BoldItalic.woff") format("woff"), url("./../fonts/OfficeCodePro/OfficeCodePro-BoldItalic.ttf") format("truetype"), url("./../fonts/OfficeCodePro/OfficeCodePro-BoldItalic.svg#OfficeCodePro-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Office", monospace;
  font-weight: normal;
  color: black;
  font-size: 19px;
  line-height: 1.3em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden; }
  html *, body * {
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal; }

h1 {
  font-family: "Reglo", Helvetica, Arial, sans-serif;
  font-size: 5em;
  line-height: 1.2em;
  font-weight: normal; }

h2 {
  font-family: "Reglo", Helvetica, Arial, sans-serif;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: normal; }

h4 {
  font-family: "Office", monospace;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: normal;
  text-align: center;
  padding: 0;
  display: table;
  margin: auto; }

.horz {
  display: table;
  margin: auto; }

.vert {
  display: table-cell;
  vertical-align: middle; }

p {
  margin: 0 0 1em 0; }
  p:last-child {
    margin: 0; }

header {
  width: 100%;
  height: 2em;
  color: black;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: height 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: height 500ms cubic-bezier(0.86, 0, 0.07, 1); }
  header a {
    color: black;
    text-decoration: none;
    -webkit-transition: color 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: color 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    header a:hover {
      color: #414444 !important; }
  header .inner {
    width: 100%;
    position: relative;
    font-family: "Reglo", Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: .8em; }
  header .row {
    width: 100%;
    height: calc(2em);
    position: absolute;
    left: 0;
    border-bottom: 1px solid #414444;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    overflow: hidden; }
    header .row .trail {
      padding: 0 .5em;
      white-space: nowrap; }
    header .row.primary {
      top: 0;
      z-index: 20; }
    header .row.secondary {
      bottom: 0;
      z-index: 10;
      position: absolute; }
  header .title {
    display: none; }
    header .title.show {
      display: inline-table; }
    header .title:not(:first-child):before {
      content: '\00a0•\00a0'; }
  header .links {
    height: 100%;
    padding-right: .5em;
    position: absolute;
    background-color: white;
    right: 0;
    top: 0;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    box-shadow: -5px 0 20px 10px white; }
    header .links a {
      margin: 0 .5em 0; }
      header .links a:last-child {
        margin: 0; }
  header .tools {
    width: 1em;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    header .tools .tool {
      width: 1em;
      height: 1em;
      float: left; }
      header .tools .tool:hover {
        cursor: pointer; }
  header.fixed {
    left: 0;
    top: 0;
    position: fixed; }

footer {
  width: 100%;
  padding: 2em 0;
  border-top: 1px solid #414444; }

.data {
  display: none; }

.dash {
  width: 3em;
  height: .5em;
  display: table;
  margin: 2em auto;
  background-color: black; }

.dashed svg {
  width: 100%;
  height: .5em; }

body.home {
  overflow-y: auto; }
  body.home main {
    width: 100%;
    display: table; }
    body.home main section.map {
      width: 100%;
      min-height: 100vh;
      background-color: black;
      color: white;
      background-image: url(./../images/map.jpg);
      background-position: center;
      background-size: cover;
      display: table; }
      body.home main section.map .title {
        height: 100%;
        display: table-cell;
        vertical-align: middle; }
        body.home main section.map .title h1 {
          display: table;
          margin: auto;
          text-align: center;
          cursor: default; }
    body.home main header .pageTitle span {
      -webkit-transform: none;
              transform: none; }
    body.home main section.stories {
      width: 100%;
      border-top: 1px solid #414444; }
      body.home main section.stories .about {
        font-size: 19px;
        line-height: 1.3em;
        width: calc(80% - 4em);
        min-width: 20em;
        max-width: 40em;
        display: table;
        margin: auto;
        padding: 2em; }
      body.home main section.stories .story {
        width: 100%;
        border-top: 10px solid white; }
        body.home main section.stories .story a {
          width: 100%;
          padding: 2em;
          color: black;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-transition: color 30ms cubic-bezier(0.445, 0.05, 0.55, 0.95), background-color 30ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
          transition: color 30ms cubic-bezier(0.445, 0.05, 0.55, 0.95), background-color 30ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
          body.home main section.stories .story a h1.title {
            -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1; }
          body.home main section.stories .story a .image {
            max-width: 30%;
            background-color: black;
            -webkit-transition: background-color 30ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
            transition: background-color 30ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
            display: table-cell;
            vertical-align: middle; }
            body.home main section.stories .story a .image img {
              width: 100%;
              display: table;
              vertical-align: middle;
              mix-blend-mode: lighten;
              -webkit-transition: -webkit-filter 30ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
              transition: -webkit-filter 30ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
              transition: filter 30ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
              transition: filter 30ms cubic-bezier(0.445, 0.05, 0.55, 0.95), -webkit-filter 30ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
          body.home main section.stories .story a:hover {
            cursor: pointer; }
            body.home main section.stories .story a:hover .image img {
              -webkit-filter: grayscale(1) contrast(1);
                      filter: grayscale(1) contrast(1); }
          body.home main section.stories .story a:not(:hover) {
            color: #000000 !important; }
            body.home main section.stories .story a:not(:hover) .image {
              background-color: #000000 !important; }

body.story main {
  width: 100%;
  height: calc(100% - 2em - 3.5em);
  position: relative;
  overflow-x: scroll;
  -webkit-transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95), color 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95), background-color 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95), border-color 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95), color 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95), background-color 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95), border-color 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
  body.story main.hide {
    opacity: 0;
    pointer-events: none; }
  body.story main .left {
    float: left; }
  body.story main #table {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden; }
  body.story main .spacer.full {
    width: 100%;
    height: 100%;
    display: table; }
  body.story main .title {
    width: 100%;
    height: 100%;
    background: white;
    display: table;
    float: left; }
    body.story main .title .horz {
      height: 100%;
      padding: 0 5em; }
    body.story main .title h1 {
      max-width: 1000px;
      text-align: left;
      margin: auto;
      padding: 0;
      text-decoration: underline;
      font-size: 5em;
      line-height: 1.2em;
      font-weight: normal; }
    body.story main .title .text {
      max-width: 800px;
      display: none;
      font-weight: normal; }
  body.story main #map {
    height: 100%;
    display: block;
    float: left;
    padding: 0 calc(20px * 4); }
    body.story main #map img {
      height: 100%; }
  body.story main .chapter {
    float: left; }
  body.story main .grid {
    height: calc(100% - 20px);
    margin: 20px 0 0 0;
    display: table;
    float: left;
    opacity: 0;
    -webkit-transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    body.story main .grid.loaded {
      opacity: 1; }
    body.story main .grid .item {
      display: block;
      margin: 0 20px 0 0;
      float: left; }
      body.story main .grid .item:nth-child(odd) {
        -webkit-transform: rotateZ(1deg);
                transform: rotateZ(1deg); }
      body.story main .grid .item:nth-child(even) {
        -webkit-transform: rotateZ(-1deg);
                transform: rotateZ(-1deg); }
      body.story main .grid .item.folder .inner, body.story main .grid .item.object .inner {
        height: 100%; }
        body.story main .grid .item.folder .inner .image, body.story main .grid .item.object .inner .image {
          height: 100%; }
          body.story main .grid .item.folder .inner .image img, body.story main .grid .item.object .inner .image img {
            max-height: 100%;
            display: table;
            margin: 0; }
      body.story main .grid .item.paper {
        width: 300px;
        display: block; }
        body.story main .grid .item.paper .inner {
          display: table-cell;
          vertical-align: middle;
          font-size: 1em;
          line-height: 1.2em;
          font-weight: normal; }
      body.story main .grid .item:hover {
        cursor: pointer; }
    body.story main .grid:after {
      content: '';
      display: block;
      clear: both; }
    body.story main .grid .sizer {
      height: calc(50% - 1em);
      display: table; }
    body.story main .grid .gutter {
      width: 20px; }
body.story.looking #collection {
  z-index: 50; }
body.story .grid .item, body.story .item.ui-draggable-dragging, body.story .item.ui-sortable-helper, body.story #collection .item {
  font-family: 'Simplon BP Mono';
  -webkit-transition: color 300ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: color 300ms cubic-bezier(0.86, 0, 0.07, 1); }
  body.story .grid .item img, body.story .item.ui-draggable-dragging img, body.story .item.ui-sortable-helper img, body.story #collection .item img {
    display: table;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: -webkit-filter 300ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: -webkit-filter 300ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: filter 300ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: filter 300ms cubic-bezier(0.86, 0, 0.07, 1), -webkit-filter 300ms cubic-bezier(0.86, 0, 0.07, 1); }
  body.story .grid .item:not(.looking):not(.selected), body.story .item.ui-draggable-dragging:not(.looking):not(.selected), body.story .item.ui-sortable-helper:not(.looking):not(.selected), body.story #collection .item:not(.looking):not(.selected) {
    color: #000000 !important; }
    body.story .grid .item:not(.looking):not(.selected) .image.bw, body.story .item.ui-draggable-dragging:not(.looking):not(.selected) .image.bw, body.story .item.ui-sortable-helper:not(.looking):not(.selected) .image.bw, body.story #collection .item:not(.looking):not(.selected) .image.bw {
      background-color: #000000 !important; }
  body.story .grid .item.looking .image:not(.bw) img, body.story .grid .item.selected .image:not(.bw) img, body.story .item.ui-draggable-dragging.looking .image:not(.bw) img, body.story .item.ui-draggable-dragging.selected .image:not(.bw) img, body.story .item.ui-sortable-helper.looking .image:not(.bw) img, body.story .item.ui-sortable-helper.selected .image:not(.bw) img, body.story #collection .item.looking .image:not(.bw) img, body.story #collection .item.selected .image:not(.bw) img {
    -webkit-filter: grayscale(0%) !important;
            filter: grayscale(0%) !important; }
  body.story .grid .item .image.bw, body.story .item.ui-draggable-dragging .image.bw, body.story .item.ui-sortable-helper .image.bw, body.story #collection .item .image.bw {
    -webkit-transition: background-color 500ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: background-color 500ms cubic-bezier(0.86, 0, 0.07, 1); }
    body.story .grid .item .image.bw img, body.story .item.ui-draggable-dragging .image.bw img, body.story .item.ui-sortable-helper .image.bw img, body.story #collection .item .image.bw img {
      mix-blend-mode: lighten; }
  body.story .grid .item.ui-draggable-dragging, body.story .grid .item.ui-sortable-helper, body.story .item.ui-draggable-dragging.ui-draggable-dragging, body.story .item.ui-draggable-dragging.ui-sortable-helper, body.story .item.ui-sortable-helper.ui-draggable-dragging, body.story .item.ui-sortable-helper.ui-sortable-helper, body.story #collection .item.ui-draggable-dragging, body.story #collection .item.ui-sortable-helper {
    max-width: 300px;
    height: calc(3.5em + 1px) !important;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 60;
    margin: 0;
    background: white;
    border: solid black;
    border-width: 1px;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
    overflow: hidden; }
    body.story .grid .item.ui-draggable-dragging .inner, body.story .grid .item.ui-sortable-helper .inner, body.story .item.ui-draggable-dragging.ui-draggable-dragging .inner, body.story .item.ui-draggable-dragging.ui-sortable-helper .inner, body.story .item.ui-sortable-helper.ui-draggable-dragging .inner, body.story .item.ui-sortable-helper.ui-sortable-helper .inner, body.story #collection .item.ui-draggable-dragging .inner, body.story #collection .item.ui-sortable-helper .inner {
      height: 100%;
      padding: .5em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: .75em;
      line-height: 1.3em;
      font-weight: normal; }
      body.story .grid .item.ui-draggable-dragging .inner .image, body.story .grid .item.ui-sortable-helper .inner .image, body.story .item.ui-draggable-dragging.ui-draggable-dragging .inner .image, body.story .item.ui-draggable-dragging.ui-sortable-helper .inner .image, body.story .item.ui-sortable-helper.ui-draggable-dragging .inner .image, body.story .item.ui-sortable-helper.ui-sortable-helper .inner .image, body.story #collection .item.ui-draggable-dragging .inner .image, body.story #collection .item.ui-sortable-helper .inner .image {
        height: 100%;
        display: block; }
        body.story .grid .item.ui-draggable-dragging .inner .image img, body.story .grid .item.ui-sortable-helper .inner .image img, body.story .item.ui-draggable-dragging.ui-draggable-dragging .inner .image img, body.story .item.ui-draggable-dragging.ui-sortable-helper .inner .image img, body.story .item.ui-sortable-helper.ui-draggable-dragging .inner .image img, body.story .item.ui-sortable-helper.ui-sortable-helper .inner .image img, body.story #collection .item.ui-draggable-dragging .inner .image img, body.story #collection .item.ui-sortable-helper .inner .image img {
          height: 100% !important;
          vertical-align: middle; }
    body.story .grid .item.ui-draggable-dragging.paper .inner, body.story .grid .item.ui-sortable-helper.paper .inner, body.story .item.ui-draggable-dragging.ui-draggable-dragging.paper .inner, body.story .item.ui-draggable-dragging.ui-sortable-helper.paper .inner, body.story .item.ui-sortable-helper.ui-draggable-dragging.paper .inner, body.story .item.ui-sortable-helper.ui-sortable-helper.paper .inner, body.story #collection .item.ui-draggable-dragging.paper .inner, body.story #collection .item.ui-sortable-helper.paper .inner {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      position: relative; }
      body.story .grid .item.ui-draggable-dragging.paper .inner:after, body.story .grid .item.ui-sortable-helper.paper .inner:after, body.story .item.ui-draggable-dragging.ui-draggable-dragging.paper .inner:after, body.story .item.ui-draggable-dragging.ui-sortable-helper.paper .inner:after, body.story .item.ui-sortable-helper.ui-draggable-dragging.paper .inner:after, body.story .item.ui-sortable-helper.ui-sortable-helper.paper .inner:after, body.story #collection .item.ui-draggable-dragging.paper .inner:after, body.story #collection .item.ui-sortable-helper.paper .inner:after {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        box-shadow: inset white 0 -20px 25px; }
    body.story .grid .item.ui-draggable-dragging.over, body.story .grid .item.ui-sortable-helper.over, body.story .item.ui-draggable-dragging.ui-draggable-dragging.over, body.story .item.ui-draggable-dragging.ui-sortable-helper.over, body.story .item.ui-sortable-helper.ui-draggable-dragging.over, body.story .item.ui-sortable-helper.ui-sortable-helper.over, body.story #collection .item.ui-draggable-dragging.over, body.story #collection .item.ui-sortable-helper.over {
      background-color: white;
      border-color: rgba(65, 68, 68, 0.5); }

#collection {
  width: 100%;
  height: 3.5em;
  position: fixed;
  left: 0;
  bottom: 0;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #414444;
  overflow: visible;
  background: white;
  z-index: 20; }
  #collection.empty .instruct {
    opacity: .5; }
  #collection.empty .items {
    opacity: 0; }
  #collection.over.empty .instruct {
    opacity: 0; }
  #collection.sorting .items .item .inner {
    opacity: 1; }
  #collection .instruct {
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in; }
    #collection .instruct .vert {
      text-align: center; }
  #collection .items {
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
    -webkit-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    z-index: 30; }
    #collection .items:hover .item .inner {
      opacity: 1; }
    #collection .items .placeholder {
      float: left;
      margin-left: -1px;
      background: #f2f2f9;
      border: solid #414444;
      border-width: 0 1px; }
  #collection .item {
    max-width: 300px;
    height: calc(3.5em + 2px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    border: solid #414444;
    border-width: 0 1px;
    background: white;
    margin-left: -1px; }
    #collection .item:hover {
      cursor: pointer; }
    #collection .item.ui-sortable-helper {
      -webkit-transform: none;
              transform: none;
      top: -2px; }
    #collection .item.selected .inner {
      opacity: 1; }
    #collection .item.paper .inner {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      position: relative; }
      #collection .item.paper .inner:after {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        box-shadow: inset white 0 -20px 25px; }
    #collection .item .inner {
      height: 100%;
      padding: .5em;
      -webkit-transition: opacity 100ms ease-in, -webkit-transform 50ms ease-in;
      transition: opacity 100ms ease-in, -webkit-transform 50ms ease-in;
      transition: opacity 100ms ease-in, transform 50ms ease-in;
      transition: opacity 100ms ease-in, transform 50ms ease-in, -webkit-transform 50ms ease-in;
      opacity: 0.5;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: .75em;
      line-height: 1.3em;
      font-weight: normal; }
      #collection .item .inner .image {
        height: 100%;
        display: block; }
        #collection .item .inner .image img {
          height: 100%;
          vertical-align: middle;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }
      #collection .item .inner .caption {
        float: left;
        display: inline-block;
        margin-left: 1em; }

#single {
  width: 100%;
  height: calc(100% - 3.5em - 2em);
  position: fixed;
  left: 0;
  top: 2em;
  z-index: 40;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  background-color: white; }
  #single.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #single.show {
    opacity: 1; }
  #single.loaded section .inner {
    opacity: 1; }
  #single.replacing section .inner {
    opacity: 0; }
  #single section {
    height: 100%;
    min-height: auto;
    position: relative;
    min-width: 10em;
    overflow: hidden;
    -webkit-transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
    #single section .scroll {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden; }
    #single section .inner {
      opacity: 0; }
      #single section .inner .text {
        line-height: 1.3em; }
        #single section .inner .text p {
          margin: 0 0 1em 0; }
  #single.paper section {
    width: 100%; }
    #single.paper section .inner {
      max-width: 800px;
      display: table;
      margin: auto; }
  #single.folder section {
    width: 50%; }
    #single.folder section#left #handle {
      height: 100%;
      position: absolute;
      right: -6px;
      top: 0;
      padding: 0 6px;
      z-index: 100; }
      #single.folder section#left #handle .line {
        width: 4px;
        height: 100%;
        border: solid black;
        border-width: 0 1px; }
      #single.folder section#left #handle:hover {
        cursor: col-resize; }
    #single.folder section#right .inner {
      max-width: 800px;
      display: table;
      margin: auto; }
      #single.folder section#right .inner .intro {
        padding: 1em; }
  #single.object section {
    width: 100%; }
    #single.object section .inner {
      max-width: 800px;
      height: 100%;
      padding: 20px;
      display: table;
      margin: auto; }
      #single.object section .inner img {
        width: 100%; }
  #single .items .itemsWrap {
    padding: .5em 1em; }
    #single .items .itemsWrap .item {
      padding: .5em 0;
      -webkit-transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
      transition: opacity 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95); }
      #single .items .itemsWrap .item.image {
        opacity: 0; }
        #single .items .itemsWrap .item.image.loaded {
          opacity: 1; }
      #single .items .itemsWrap .item .itemWrap img {
        max-width: 100%;
        display: table;
        margin: auto;
        vertical-align: middle; }
      #single .items .itemsWrap .item .itemWrap .caption {
        margin: 1em 0 0 0; }
      #single .items .itemsWrap .item.readable {
        width: 100%; }
        #single .items .itemsWrap .item.readable img {
          width: auto;
          max-width: 100%;
          max-height: 100%; }

body.aid main, body.about main {
  overflow-y: scroll;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  body.aid main section, body.about main section {
    padding-top: 2em; }
    body.aid main section .group, body.about main section .group {
      width: 100%;
      max-width: 800px;
      padding: 0 2em 2em 2em; }
    body.aid main section h2, body.about main section h2 {
      text-align: center; }
    body.aid main section h2, body.aid main section h3, body.aid main section h4, body.about main section h2, body.about main section h3, body.about main section h4 {
      margin: 0;
      padding-bottom: .5em; }
    body.aid main section h3 a:hover, body.about main section h3 a:hover {
      color: #000000 !important; }
    body.aid main section a, body.about main section a {
      color: black;
      text-decoration: none; }
  body.aid main section#details, body.about main section#details {
    width: calc(35% - 1px);
    border-right: 1px solid black; }
    body.aid main section#details .text, body.about main section#details .text {
      font-size: .75em;
      line-height: 1.3em;
      font-weight: normal; }
    body.aid main section#details .subgroup, body.about main section#details .subgroup {
      padding-bottom: .5em; }
      body.aid main section#details .subgroup .subtitle, body.about main section#details .subgroup .subtitle {
        color: #414444;
        text-transform: uppercase; }
        body.aid main section#details .subgroup .subtitle::after, body.about main section#details .subgroup .subtitle::after {
          content: ': '; }
      body.aid main section#details .subgroup p, body.about main section#details .subgroup p {
        display: inline; }
  body.aid main section#list, body.about main section#list {
    width: 65%; }
    body.aid main section#list .wrap, body.about main section#list .wrap {
      width: 100%;
      display: table; }
    body.aid main section#list .items, body.about main section#list .items {
      padding: 0 0 1em 1em; }
      body.aid main section#list .items a:not(:hover), body.about main section#list .items a:not(:hover) {
        color: #000000 !important; }
        body.aid main section#list .items a:not(:hover) .meta, body.about main section#list .items a:not(:hover) .meta {
          color: #b3b4b7 !important; }
      body.aid main section#list .items a:hover .meta, body.about main section#list .items a:hover .meta {
        opacity: 0.6; }
      body.aid main section#list .items .wrap.item, body.about main section#list .items .wrap.item {
        padding: 0 0 .25em 0; }
        body.aid main section#list .items .wrap.item .meta, body.about main section#list .items .wrap.item .meta {
          font-size: .75em;
          line-height: 1.3em;
          font-weight: normal; }
          body.aid main section#list .items .wrap.item .meta span, body.about main section#list .items .wrap.item .meta span {
            display: inline-table;
            text-transform: uppercase; }
            body.aid main section#list .items .wrap.item .meta span:not(:first-child):before, body.about main section#list .items .wrap.item .meta span:not(:first-child):before {
              content: '\00a0•\00a0'; }
        body.aid main section#list .items .wrap.item ul, body.about main section#list .items .wrap.item ul {
          margin: 0;
          padding: .25em 0 0 1em;
          list-style: none; }
          body.aid main section#list .items .wrap.item ul li, body.about main section#list .items .wrap.item ul li {
            font-size: .75em;
            line-height: 1.3em;
            font-weight: normal; }
            body.aid main section#list .items .wrap.item ul li em, body.about main section#list .items .wrap.item ul li em {
              font-family: "Office Italic", monospace;
              font-style: normal; }

/*# sourceMappingURL=style.css.map */